/* ==========================================================================
   Social Icon widget style - begin
   ========================================================================== */
textarea {
  padding: 13px 25px !important;
  margin-top: 10px !important;
  font-size: 10px !important;
  text-transform: none !important;
  letter-spacing: .16em !important;
  font-weight: 400 !important;
}

.eltdf-social-icon-widget-holder {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.eltdf-social-icon-widget-holder.eltdf-predefined-style {
  background-color: transparent;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 5em;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.eltdf-social-icon-widget-holder.eltdf-predefined-style:hover {
  background-color: #f4f4f4;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.eltdf-social-icon-widget-holder.eltdf-predefined-style:hover .eltdf-social-icon-widget {
  color: #000;
}

.eltdf-social-icon-widget-holder.eltdf-predefined-style .eltdf-social-icon-widget {
  font-size: 14px;
  display: block;
  text-align: center;
}

.eltdf-social-icon-widget-holder .eltdf-social-icon-widget {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-social-icon-widget-holder {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-social-icon-widget-holder:hover {
  color: rgba(0, 0, 0, 0.9) !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-social-icon-widget-holder {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-social-icon-widget-holder:hover {
  color: rgba(255, 255, 255, 0.9) !important;
}

/* ==========================================================================
   Social Icon widget style - end
   ========================================================================== */

/*# sourceMappingURL=social-icon-widget-map.css.map */
