/*
Theme Name: Onea Child
Theme URI: http://onea.elated-themes.com
Description: A child theme of Onea Theme
Author: Elated Themes
Author URI: http://themeforest.net/user/elated-themes
Version: 1.0.0
Text Domain: onea
Template: onea
*/


/** REMOVE PROMOBAR FOR WHOLESALE CUSTOMER **/
.product .eltdf-pl-text-wrapper > div:first-child{ min-height: 45px; }


.role-wholesale_customer .eltdf-top-bar {
    display: none;
}

body .woocommerce-checkout .payment_method_eway_payments label:before {
    background-image: url(https://biologi.com.au/wp-content/uploads/2020/03/Checkout-_-card-_-Icon.png);
}

.woocommerce-checkout .wc_payment_method.payment_method_eway_payments label img {
    display: none;
}

.woocommerce-checkout .wc_payment_method.payment_method_eway_payments .payment_box .form-row label {
    border: none;
    border-radius: initial;
    width: 100%;
    min-height: auto;
    max-height: none;
    font-size: 15px !important;
}

.woocommerce-checkout .wc_payment_method.payment_method_eway_payments .payment_box .form-row label:before {
    display: none;
}

.woocommerce-checkout .wc_payment_method.payment_method_eway_payments .payment_box {
    padding: 0 10px;
}

.woocommerce-checkout .wc_payment_method.payment_method_eway_payments .payment_box input[type=text] {
    line-height: normal !Important;
    margin-bottom: 10px;
}

.woocommerce-checkout .wc_payment_method.payment_method_eway_payments .payment_box .eway-credit-card-message {
    font-weight: bold;
}

.mobilebtn {
    background: #000;
    color: #fff;
    font-size: 13px !IMPORTANT;
    padding: 5px 10px !important;
    font-family: 'IBM Plex Sans', sans-serif;
}

body #homeHeroRR a.mobilebtn:hover {
    color: #fff;
}

body #homeHeroRR .mobiletext {
    margin: 0 0 16px !important;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px !important;
    line-height: 22px !important;
}

/*@media screen and (max-width: 480px){
    .woocommerce-checkout #payment ul li.wc_payment_method .payment_box.payment_method_afterpay {width: 100% !important; margin-left: 0 !important;padding: 0 !important;}
.woocommerce-checkout #payment ul li.wc_payment_method{width: 100%;}
}*/
@media screen and (max-width: 767px) {

    .page-id-99406 .az-elements-list .az-top-right-controls .azt-list.azt-map-list,
    .page-id-99406 .az-element-wrapper .az-form.az-template,
    .page-id-99406 .az-top-right-controls .az-top-right-controls .azt-map-details .az-elements-list {
        background: #ddd;
    }

    .page-id-99406 .az-top-right-controls .az-top-right-controls .azt-map-details .az-background .az-background .az-elements-list .az-text.az-contenteditable.azt-filled {
        background: #000;
    }

    /* .page-id-99406 .eltdf-page-content-holder .vc_row.wpb_row, .page-id-99406 .eltdf-page-content-holder .wpb_text_column.wpb_content_element {float:left !important; width:100% !important;}*/

    .home .eltdf-page-header {
        background: rgb(255, 255, 255);
    }

    .home .eltdf-content {
        margin-top: 0px !important;
    }
}

.single-product .product-type-variable .price:not(.single_variation_wrap .price) {
    display: block !important
}

body .woocommerce-checkout .payment_method_eway label:before {
    background-image: url(https://biologi.com.au/wp-content/uploads/2020/03/Checkout-_-card-_-Icon.png);
    background-position: center center;
}

body .woocommerce-checkout .payment_method_paypal label:before {
    background-image: url(https://biologi.com.au/wp-content/uploads/2020/03/Checkout-Paypal-Icon.png);
}

body .woocommerce-checkout .payment_method_afterpay label:before {
    background-image: url(https://biologi.com.au/wp-content/uploads/2020/03/Checkout-_-afterpay-_-Icon.png);
}

.woocommerce-checkout .xoo-wsc-total {
    display: block !important;
}

.product-type-bundle form .bundled_product_summary {
    display: none;
}

body .popupRRLeft {
    width: 40%;
    background-image: url(https://biologi.com.au/wp-content/uploads/2020/05/PopUp.jpg);
    background-size: cover;
    height: 100%;
    float: left;
    background-position: center center;
}

.helNeue,
.helNeue *,
.helNeue p {
    font-family: 'IBM Plex Sans', sans-serif !important;
}

.eltdf-position-right-inner .eltdf-search-opener-wrapper img,
.eltdf-position-right-inner .eltdf-shopping-cart-inner img {
    width: 50% !important;
}

.leave-review-li {
    float: right;
    position: relative;
    top: 5px;
}

.leave-review-button {
    font-size: 14px !important;
    padding: 10px 15px;
    line-height: 14px;
}

.submit {
    text-transform: uppercase !important;
}

ul.products>.product .eltdf-pl-text-wrapper {
    margin: 20px 0 25px !Important;
}

.productIngredients {
    height: 80vh !Important;
}

.eltdf-woo-single-page .woocommerce-tabs #reviews .comment-respond .comment-form-rating .stars a {
    position: relative;
    display: inline-block;
    color: transparent;
    font-size: 0;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 10px;
    height: 26px;
}

.eltdf-woo-single-page .woocommerce-tabs #reviews .comment-respond .comment-form-rating .stars a:before {
    color: #a8a8a8;
    content: "\f4b3";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    z-index: 1;
    margin: 0px;
}

.eltdf-woo-single-page .woocommerce-tabs #reviews .comment-respond .comment-form-rating .stars a.active:after {
    position: absolute;
    right: 0;
    display: block;
    bottom: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
    left: -65px;
    z-index: 99;
}

/** CHECKOUT **/
.wpmc-tabs-wrapper .wpmc-tab-item:before {
    border-bottom: 0px solid transparent !important;
}

.wpmc-tabs-wrapper .wpmc-tab-item.current .wpmc-tab-number {
    border-color: #f6f6f6 !Important;
    color: #000 !Important;
}

.wpmc-tabs-wrapper .wpmc-tab-item.previous .wpmc-tab-number {
    border-color: #f6f6f6 !Important;
    color: #fff !Important;
    content: "/f00c";
}

.wpmc-tab-item .wpmc-tab-text {
    display: inline !important;
    margin-left: 10px;
}

.wpmc-tabs-wrapper .wpmc-tab-item.current .wpmc-tab-text {
    display: inline !important;
    font-weight: bold;
    margin-left: 10px;
}

.wpmc-tabs-wrapper .wpmc-tab-item .wpmc-tab-number {
    color: #000 !important;
    background: #fff;
    border: 2px solid #f6f6f6;
}

.argmc-wrapper .argmc-tab-item:before {
    border-bottom: 0px solid transparent;
}

.argmc-tab-item.current .argmc-tab-text {
    display: block;
    font-weight: bold;
}

.argmc-wrapper .argmc-tab-number-wrapper {
    display: inline !important;
}

.argmc-wrapper .argmc-tab-text {
    display: inline !important;
    margin-left: 10px;
}

.argmc-wrapper.progress-alt .argmc-tab-item .argmc-tab-number {
    border: 2px solid #f6f6f6;
    background-color: #fff !Important;
    color: #000 !Important;
}

.argmc-wrapper.progress-alt .argmc-tab-item.current .argmc-tab-number,
.argmc-wrapper.progress-alt .argmc-tab-item.completed .argmc-tab-number {
    border: 2px solid #f6f6f6;
    background-color: #f6f6f6 !Important;
    color: #000 !Important;
}

.argmc-wrapper.progress-alt .argmc-tab-item.current .argmc-tab-number {
    line-height: 34px;
    width: 34px;
    min-width: 34px;
    min-height: 34px;
    height: 34px;
}


.wdgk_donation_content {
    display: none;
}

.woocommerce-checkout .eltdf-title-holder {
    display: none !important;
}

.woocommerce-checkout .eltdf-content .eltdf-content-inner>.eltdf-container>.eltdf-container-inner {
    padding-top: 0px;
}

/* opup CSS */
.eltdf-login-register-content.ui-tabs {
    position: relative;
    margin: 0 auto;
    width: 40%;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 2px 3px 14.1px 0.9px rgba(0, 0, 0, .05);
}

.eltdf-login-register-holder .oimage {
    float: left;
    width: 45%;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
}

.eltdf-login-register-holder .ocontent {
    float: right;
    width: 55%;
    background: #fff;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.eltdf-login-register-content.ui-tabs .eltdf-login-content-inner,
.eltdf-login-register-content.ui-tabs .eltdf-reset-pass-content-inner {
    padding: 30px 35px 32px;
}

.eltdf-login-register-content.ui-tabs .eltdf-register-content-inner {
    padding: 30px 35px 15px;
}

.eltdf-login-register-content.ui-tabs {
    width: 60%;
    height: 540px;
}

.oimage {
    height: 100%;
}

.oimage img {
    object-fit: cover !important;
    width: 100%;
}

.eltdf-login-register-holder {
    background-color: rgba(0, 0, 0, 0.6);
}

.eltdf-login-register-holder .ocontent {
    height: 100%;
}


.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    width: 100%;
    padding: 0;
    text-decoration: none;
}

.eltdf-social-login-holder input[type=text] {
    padding: 15px 0px;
}

.reg-form-group {
    margin: 5px;
    padding: 7px 0;
}

.reg-form-group>input[type=submit] {
    margin-right: 0;
    width: 100px;
    height: 100px;
    background-color: #f7ddd0 !important;
    border-radius: 100px;
    padding: 0px;
    text-transform: uppercase;
    color: #fff;
    border: 0px solid #fff;
    font-family: Poppins, sans-serif !important;
    font-weight: 900;
    cursor: pointer;
}

.reg-form-group .description {

    display: inline;
    font-size: 12px;
}

.eltdf-login-register-content.ui-tabs input[type=password] {
    margin-bottom: 0px;
}

.eltdf-login-register-content.ui-tabs .eltdf-register-content-inner {
    padding: 15px 20px 15px;
}

.eltdf-login-register-content.ui-tabs .eltdf-login-form input[type=password] {
    margin: 17px 0px 17px 0px !Important;
    padding: 12px 0px !Important;
}

.eltdf-login-register-content.ui-tabs .eltdf-login-button-holder .eltdf-btn {
    margin-top: 40px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    font-size: 13px;
    line-height: 2.1em;
    font-weight: 600;
    outline: 0;
    box-sizing: border-box;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    padding: 9px 46px;
    cursor: pointer;
}

.eltdf-login-register-content.ui-tabs .eltdf-login-button-holder .eltdf-btn:hover {
    background-color: #f7ddd0 !important;
    border: 0px solid #000 !important;
}

.eltdf-btn.eltdf-btn-solid:before,
.eltdf-btn.eltdf-btn-solid:hover:before {
    display: none;
}

.reg-form-group input[type="checkbox"] {}

/*Blog CSS */
.eltdf-blog-holder article {
    position: relative;
    display: inline-block;
    width: 33.33% !important;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 20px !important;
    margin: 0 0 30px !important;
}

.eltdf-blog-holder .eltdf-post-excerpt-holder {
    display: none;
}

/** mega menu **/
.eltdf-header-standard .eltdf-menu-area.eltdf-menu-center .eltdf-vertical-align-containers .eltdf-position-center-inner {
    width: 100% !important;
}

.eltdf-main-menu {
    width: 100% !important;
}

#mega-menu-wrap-main-navigation {
    width: 100% !important;
}

#mega-menu-item-eltdf_recent_posts-2 .widget.eltdf-recent-post-widget ul li {
    margin: 0 0 20px;
    width: 30%;
}

#mega-menu-item-eltdf_recent_posts-2 .widget.eltdf-recent-post-widget ul li a .eltdf-rp-text {
    display: block;
}

#mega-menu-item-eltdf_recent_posts-2 .widget.eltdf-recent-post-widget ul li a .eltdf-rp-image {
    display: block;
}

.page-id-11 .eltdf-title-holder {
    display: none;
}

/* chrome menu issue */
.mega-sub-menu {
    padding: 60px 80px !important;
}

#mega-menu-98730-0 .mega-sub-menu {
    padding: 0px !Important;
    margin-top: 0px !important;
}

.mega-sub-menu .widget_nav_menu a {
    font-size: 15px !important;
}

.mega-sub-menu .widget_nav_menu a:hover {
    font-weight: 900 !important;
}

.mega-menu-item-98768 .mega-menu-link:nth-child(1) {
    /* color: green !important; */
    padding: 0px 10px 10px 10px !important;
}

.mega-menu-item-98729 .mega-sub-menu .mega-menu-link:nth-child(1) {
    font-family: Montserrat, sans-serif !Important;
}

.mega-menu-item-98729 .mega-sub-menu .mega-menu-link:nth-child(1):hover {
    font-weight: 900 !important;
}

.mega-toggle-on .mega-toggle-on .mega-menu-link:nth-child(1) {
    /* first column left Range etc */
    font-weight: 900 !important;
}

#mega-menu-wrap-main-navigation #mega-menu-main-navigation>li.mega-menu-tabbed>ul.mega-sub-menu>li.mega-menu-item>ul.mega-sub-menu {

    padding: 60px 60px 60px 40px !important;
}

.mega-sub-menu .widget_nav_menu ul li {
    float: none !important;
    display: block !important;
}

/* second column under SHOP face body etc*/
#mega-menu-item-nav_menu-4,
#mega-menu-item-text-15 {
    width: 20% !important;
}

#mega-menu-wrap-main-navigation #mega-menu-main-navigation>li.mega-menu-tabbed>ul.mega-sub-menu>li.mega-menu-item>ul.mega-sub-menu>li.mega-menu-item {
    padding: 0px 15px 15px 15px;
}

.mega-toggle-on a:not(.mega-sub-menu a) {
    font-weight: 500 !important;
}

.mega-toggle-on a:hover:not(.mega-sub-menu a) {
    font-weight: 500 !important;
}

#mega-menu-wrap-main-navigation #mega-menu-main-navigation>li.mega-menu-item>a.mega-menu-link {
    font-weight: 500 !important;
}

.widget.eltdf-recent-post-widget ul li a .eltdf-rp-text {

    padding: 0 0 0 0px !important;
}

.eltdf-light-header .eltdf-page-header>div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget a:hover {
    color: #000 !important;
}

.widget.eltdf-recent-post-widget ul li a .eltdf-rp-text .eltdf-rp-title {
    font-size: 16px !Important;
    font-weight: 300;
    text-transform: lowercase !important;
}

.mega-menu-item .entry-date {
    display: none;
}

#mega-menu-98730-0 .mega-sub-menu {
    padding-top: 0px !Important;
}

.ui-state-active,
.ui-state-default {
    border: 0px solid #2694e8 !important;
    background: none !important;
    color: grey !important;
}

.eltdf-accordion-holder .eltdf-accordion-title .eltdf-tab-title {
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-size: 19px !important;
}

.read-more-faqvideos a {
    font-size: 11px;
    font-weight: 600;
}

.read-more-faqvideos {
    border-bottom: 1px solid #000;
    width: 79px;
    margin-top: 10px;
}

.faqVideoItem {
    width: 210px;
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
}

.faqVideosScroll {
    width: 3100px;
}

.page-id-98733 .woocommerce.columns-4>.products>.product {
    width: 50%;
}

.eltdf-search-cover {
    top: 95px !important;
    background-color: #fff !important;
}

.eltdf-search-cover input {
    color: #000 !important;
}

.search-results .eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs-info,
.search-results .eltdf-title-holder .eltdf-title-wrapper .eltdf-page-title {
    text-align: center !important;
}

.search-no-results .eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs-info,
.search-no-results .eltdf-title-holder .eltdf-title-wrapper .eltdf-page-title {
    text-align: center !important;
}


.eltdf-search-page-holder .eltdf-search-page-form .eltdf-search-title {
    display: none;
}

.search-results .eltdf-content .eltdf-content-inner>.eltdf-container>.eltdf-container-inner {

    padding-top: 0px !important;
}

.eltdf-search-page-holder .eltdf-search-page-form .eltdf-search-label {
    display: none !important;
}

.eltdf-search-page-holder article .eltdf-post-title-area .eltdf-post-title-area-inner .eltdf-post-excerpt {
    display: none !important;
}

.mega-sub-menu .mega-toggle-on .mega-menu-link span:not(.mega-sub-menu .mega-toggle-on .mega-sub-menu a span) {
    font-weight: bold;
    color: red !important;
}

.fixed #mega-menu-wrap-main-navigation .mega-menu-link {
    color: #000 !important;
}

.single-product #mega-menu-wrap-main-navigation .mega-menu-link {
    color: #000 !important;
}

.single-product #mega-menu-wrap-main-navigation #mega-menu-main-navigation>li.mega-menu-item.mega-toggle-on>a.mega-menu-link {
    color: #000 !important;
}


.eltdf-dark-header #mega-menu-wrap-main-navigation #mega-menu-main-navigation>li.mega-menu-item.mega-toggle-on>a.mega-menu-link {
    color: #000 !important;
}

.eltdf-dark-header #mega-menu-wrap-main-navigation #mega-menu-main-navigation>li.mega-menu-item>a.mega-menu-link {
    color: #000 !important;
}

.woocommerce-checkout #mega-menu-wrap-main-navigation #mega-menu-main-navigation>li.mega-menu-item>a.mega-menu-link {
    color: #000 !important;
}

.single-post #mega-menu-wrap-main-navigation #mega-menu-main-navigation>li.mega-menu-item>a.mega-menu-link {
    color: #000 !important;
}

.archive.category #mega-menu-wrap-main-navigation #mega-menu-main-navigation>li.mega-menu-item>a.mega-menu-link {
    color: #000 !important;
}

.eltdf-search-cover .eltdf-search-close {
    color: #000 !important;
}

.eltdf-light-header .eltdf-page-header>div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget span {
    color: #000 !important;
}

.eltdf-light-header .eltdf-page-header>div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget span {
    color: #000 !important;
}

.loginIconRR {
    width: 18px;
    height: 17px;
}

.eltdf-light-header .loginIconRR {
    background-image: url('https://biologi.com.au/wp-content/uploads/2020/02/Navigation-Account-White.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.search-results .loginIconRR,
.eltdf-dark-header .loginIconRR,
.fixed .loginIconRR,
.single-post .loginIconRR,
.single-product .loginIconRR {
    background-image: url('https://biologi.com.au/wp-content/uploads/2020/02/Navigation-Account-Black.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.eltdf-logged-in-user-name {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.eltdf-dark-header .eltdf-logged-in-user-name,
.fixed .eltdf-logged-in-user-name {
    color: #000 !important;
}

.eltdf-dark-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner>span span {
    color: #000 !important;
}

.eltdf-dark-header .fixed .eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner>span span {
    color: #000 !important;
}

.eltdf-dark-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner>span span {
    color: #000 !important;
}

.eltdf-dark-header .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner>span span {
    color: #000 !important;
}

.eltdf-menu-area .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-login-dropdown {
    padding: 20px !Important;
    width: 190px;
    top: 85%;
}

.mega-menu-item .widget_media_image {
    padding: 0px 15px 1px 15px !important;
}

.single-post .eltdf-post-text-main .read-more {
    display: none;
}

.woocommerce-checkout #accountNameRR,
.single-product #accountNameRR,
.fixed #accountNameRR,
.single-post #accountNameRR,
.archive.category #accountNameRR {
    color: #000 !important;
}

.search-results .eltdf-header-cart,
.search-results .eltdf-search-opener-wrapper,
.woocommerce-checkout .eltdf-search-opener-wrapper,
.woocommerce-checkout .eltdf-header-cart,
.single-product .eltdf-search-opener-wrapper,
.single-product .eltdf-header-cart,
.single-post .eltdf-search-opener-wrapper,
.single-post .eltdf-header-cart,
.archive.category .eltdf-search-opener-wrapper,
.archive.category .eltdf-header-cart {
    color: #000 !important;

}

.woocommerce-checkout #accountDropdownRR .arrow_triangle-down,
.single-product #accountDropdownRR .arrow_triangle-down,
.archive.category #accountDropdownRR .arrow_triangle-down,
.fixed #accountDropdownRR .arrow_triangle-down,
.eltdf-dark-header #accountDropdownRR .arrow_triangle-down,
.single-post #accountDropdownRR .arrow_triangle-down {
    color: #000 !important;

}

.tax-product_cat .fixed {
    background-color: #fff !important;
}

#mega-menu-item-text-31 {
    padding-bottom: 1px;
}

.productBadgeRRimg {
    height: 80px;
    padding-top: 15px;
}

.eltdf-woo-single-page .eltdf-single-product-content {
    margin-top: 40px !important;
}

.woocommerce-page.logged-in #sideImageRR {
    display: none;
}

.woocommerce-page.logged-in #accountContentRR {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    float: none;
    padding-top: 100px;

}

.eltdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    width: calc(100% - 200px) !important;
    background-color: #f6f6f6;
    padding: 30px !important;
}

.eltdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 200px !important;
}

.woocommerce-page.logged-in .hideLoggedInRR {
    display: none;
}

.eltdf-woocommerce-page.woocommerce-account .woocommerce form.edit-account label {
    font-family: poppins;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.myaccountHeading {
    margin-left: 200px;
}

#myaccountHeading {
    margin-bottom: 40px !important;
}

.eltdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation ul li:not(:last-child) {
    margin: 0 0 15px !important;
}

.woocommerce-page.logged-in #accountContentRR .maxWidth450 {
    max-width: 100%;
}

.eltdf-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    padding: 0 0 0 0px;
}

.woocommerce-Button {
    text-transform: Uppercase !important;
    font-family: poppins !important;
    letter-spacing: 0.5px !important;
}

.woocommerce-Button:before {
    display: none !important;
}

.woocommerce-checkout .eltdf-dark-logo {
    opacity: 1 !important;
}

.woocommerce-checkout .eltdf-light-logo {
    opacity: 0 !important;
}

.search-results .eltdf-dark-logo {
    opacity: 1 !important;
}

.search-results .eltdf-light-logo {
    opacity: 0 !important;
}

.argmc-wrapper .argmc-form-steps {
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.woocommerce-checkout .woocommerce form .form-row textarea {
    border: 1px solid #000 !important;
}

#argmc-submit,
.woocommerce-checkout .woocommerce .argmc-wrapper #argmc-next,
.woocommerce-checkout .woocommerce .argmc-wrapper #argmc-skip-login,
.woocommerce-checkout .woocommerce .argmc-wrapper #argmc-prev {
    padding: 10px 20px !important;
    font-family: poppins !important;
    letter-spacing: 0.5px !important;
    font-weight: 600 !important;
    font-size: 14px !important;


}

.checkout_coupon button:before,
#argmc-submit:before {
    display: none !important;
}

.checkout_coupon button {
    padding: 10px 20px !important;
    font-family: poppins !important;
    letter-spacing: 0.5px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
}

.argmc-nav-buttons {
    border-color: #ffffff !Important;
}

#coupon_code {
    border: 1px solid grey !important;
    line-height: 39px !important;
    padding-left: 15px !Important;
}

.checkout_coupon button {
    width: 150px;
}

.checkout_coupon .form-row-first,
.checkout_coupon .form-row-last {
    display: inline-block !important;
    float: left !important;
}

.checkout_coupon .form-row-first {
    width: calc(100% - 150px) !important;
}

.checkout_coupon .form-row-last {
    width: 150px !important;
}

#testimonialsForm input {
    text-transform: capitalize !important;
    border-bottom: 1px solid #000;
}

#testimonialsForm textarea {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #000 !important;
    padding: 20px !Important;
}

#testimonialsForm input[type=email] {
    padding: 5px 0px !important;
}

#testimonialsForm .wpcf7-submit {
    float: right;
    padding: 10px 20px !important;
    font-family: poppins !important;
    letter-spacing: 0.5px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    text-transform: uppercase !important;

}

.testimonialsItemName {
    padding: 0px !important;
    margin: 0px !important;
}

.testimonialsItemIcon {
    width: 55px;
    display: inline-block;
    position: relative;
    left: -65px;
    bottom: -65px;

}

.argmc-nav-text,
.argmc-nav-buttons {
    text-align: center !important;
}

.testimonialsItem {}

#testimonialsGrid .vc_col-sm-4 {

    padding: 20px 50px !important;
}

#testimonialsForm textarea {
    height: 120px;
}


/* added */

.gfield_checkbox li,
.gfield_radio li {
    position: relative;
}

.gform_wrapper .spotRadio .gfield_radio li label {
    margin: 2px 0 0 21px;
}

.gform_wrapper ul li.spotRadio.gfield.optional .gfield_checkbox label::after,
.gform_wrapper ul li.spotRadio.gfield.optional .gfield_radio label::after {
    content: "";
    opacity: 1;
}

.gform_wrapper .spotRadio .gfield_radio li input[type="radio"],
.gform_wrapper .spotRadio .gfield_checkbox li input[type="checkbox"] {
    display: none;
}

ul.gfield_checkbox li[class^="gchoice"] label:before,
ul.gfield_checkbox li[class^="gchoice"] label:after,
ul.gfield_radio li[class^="gchoice"] label:before,
ul.gfield_radio li[class^="gchoice"] label:after {
    bottom: 0;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
}

.spotRadio ul.gfield_checkbox li[class^="gchoice"] label:after,
.spotRadio ul.gfield_radio li[class^="gchoice"] label:after {
    content: "";
    background-color: #fff;
    border: solid 2px #e0d0b7;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    transition: left .25s, background-color .13s;
    width: 20px;
}

.spotRadio ul.gfield_checkbox input[type="checkbox"]:checked+label:before,
.spotRadio ul.gfield_radio input[type="radio"]:checked+label:before {
    content: "●";
    color: #e0d0b7;
    font-size: 24.5px;
    font-weight: 700;
    left: 2.5px;
    text-align: center;
    top: -9px;
    z-index: 9;
}

#gform_page_1_2 .spotRadio ul.gfield_radio li:nth-child(even) input[type="radio"]:checked+label:before {
    left: 3px;
}

#gform_page_1_2 .spotRadio .ginput_container_radio li label {
    padding-left: 9px;
}

#quizPage {
    padding-bottom: 60px !Important;
}

#gform_page_1_6 .spotRadio .ginput_container_radio li label {
    padding-left: 8px !important;
}

#gform_page_1_6 .spotRadio ul.gfield_checkbox input[type="checkbox"]:checked+label:before,
#gform_page_1_6 .spotRadio ul.gfield_radio input[type="radio"]:checked+label:before {
    content: "●";
    color: #e0d0b7;
    font-size: 24.5px;
    font-weight: 700;
    left: 3.4px;
    text-align: center;
    top: -5.5px;
    z-index: 9;
}

#gform_page_1_5 .spotRadio ul.gfield_checkbox input[type="checkbox"]:checked+label:before,
#gform_page_1_5 .spotRadio ul.gfield_radio input[type="radio"]:checked+label:before {
    content: "●";
    color: #e0d0b7;
    font-size: 24.5px;
    font-weight: 700;
    left: 3px;
    text-align: center;
    top: -4px;
    z-index: 9;
}

#gform_page_1_7 .spotRadio ul.gfield_checkbox input[type="checkbox"]:checked+label:before,
#gform_page_1_7 .spotRadio ul.gfield_radio input[type="radio"]:checked+label:before {
    content: "●";
    color: #e0d0b7;
    font-size: 24.5px;
    font-weight: 700;
    left: 2.5px;
    text-align: center;
    top: -4.5px;
    z-index: 9;
}

/* added */

#gform_page_1_7 .spotRadio .gfield_radio li label {
    margin: 2px 0 0 26px;
}



#gform_page_1_1 .gchoice_1_1_3 {
    margin-left: 80px !important;
}

#gform_page_1_1 #input_1_1 {
    margin-left: 38px !Important;
}

#gform_page_1_2 .gform_wrapper .top_label .gfield_label,
.gform_wrapper legend.gfield_label {
    text-align: left !important;
}

#gform_page_1_2 #field_1_3 .gfield_label {
    text-align: left !important;
}

.page-id-98733 .eltdf-content .eltdf-content-inner>.eltdf-full-width>.eltdf-full-width-inner {
    padding: 0px 0 0px 0 !Important;
}

.gfield_required {
    color: #ccc !important;
}

.gform_wrapper .gform_body {
    min-height: 300px;
}

/* quiz page age section 3 */
#gform_page_1_3 input[type=radio] {
    visibility: hidden;
}

#gform_page_1_3 ul.gfield_radio li label {
    display: inline-block;
    letter-spacing: inherit;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #e0d0b7;
    padding: 0px;
    font-size: 23px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 100px;
    text-align: center;
    letter-spacing: 0px !Important;
}


#gform_page_1_3 ul.gfield_radio li input[type=radio]:checked+label {
    font-size: 23px !important;
    width: 100px !important;
    height: 100px !important;
    line-height: 100px !important;
    border-radius: 100px;
}

#input_1_21 li {
    width: 49%;
    text-align: center;
}

#input_1_21 input[type=radio] {
    visibility: hidden;
    width: 0px !important;
    display: none;
}

#input_1_21 li label {
    margin: 0px 0 0 0px;
    display: inline-block;
    letter-spacing: inherit;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #e0d0b7;
    border-radius: 40px;
    padding: 6px 0px;
    font-size: 13px;
    width: 148px;
    text-align: center;
    letter-spacing: 0px !important;
}

#gform_page_1_4 .image-choices-field.image-choices-show-labels .image-choices-choice-text {
    display: inline-block;
    letter-spacing: inherit;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #e0d0b7;
    border-radius: 40px;
    padding: 6px 0px;
    font-size: 13px;
    width: 148px;
    text-align: center;
    letter-spacing: 0px !Important;
}

#gfield_description_1_21 {
    width: 80% !important;
    margin-bottom: 0px;
    padding: 0px !important;
}

#gfield_description_1_21 .live {
    width: 50%;
    display: inline-block;
    margin-bottom: 40px;
}

#field_1_21>div.ginput_container.ginput_container_radio {
    width: 80% !important;
    margin: 0px auto;

}

#field_1_21 .gfield_radio li {
    margin: 0 0 40px;
}

#gform_page_1_5 .gfield_radio li,
#gform_page_1_7 .gfield_radio li {
    width: 33%;
}

#gform_page_1_5 .gfield_radio li label,
#gform_page_1_7 .gfield_radio li label {
    font-size: 20px;
}

#gfield_description_1_15 {
    width: 180px;
    padding: 0px !Important;
}

#input_1_15 li {
    text-align: center;
}

#gfield_description_1_17 {
    width: 110px;
    display: inline-block;
    margin-left: 95px;
    padding-top: 12px;
}

#field_1_17>div.ginput_container.ginput_container_radio {
    float: right;
    margin-right: 150px !important;
    width: 100px;
}

#field_1_17 .gfield_label {
    padding: 0px 72px;
}

#input_1_17 li {
    width: 50%;
    font-size: 20px;
}

#gfield_description_1_19 {
    width: 180px;
}

#gform_confirmation_wrapper_1 {

    width: 100vw;
    margin-left: -51vw;
    background-color: #fff;
    border: 0px solid red;
}

#gform_confirmation_message_1 {

    width: 100%;
    border: 0px solid green;
    max-width: 900px;
    margin: 0px auto;
}

#gform_confirmation_message_1 h3 {
    margin: 0px !important;
}

#gform_confirmation_message_1 .woocommerce {
    max-width: 600px;
    margin: 0px auto;
    width: 100%;
    display: block;
}

#gform_page_1_2 ul.gfield_radio li input[type=radio]:checked+label {
    font-weight: bold !Important;
    background: #fff !important;
    color: #000 !important;

}

#gform_page_1_5 ul.gfield_radio li input[type=radio]:checked+label {
    font-weight: bold !Important;
    background: #fff !important;
    color: #000 !important;
}

#gform_page_1_6 ul.gfield_radio li input[type=radio]:checked+label {
    font-weight: bold !Important;
    background: #fff !important;
    color: #000 !important;
}

#gform_page_1_7 ul.gfield_radio li input[type=radio]:checked+label {
    font-weight: bold !Important;
    background: #fff !important;
    color: #000 !important;
}

.borderRight {

    border-right: 1px solid grey;

}


.centerRR {
    margin: 0px auto !important;
    width: 350px;
}

#gform_confirmation_message_1 {
    padding-bottom: 100px;
}

#argmc-submit {
    text-transform: uppercase !important;
}

.page-id-99290 #myaccountHeading {
    margin-left: 0px !important;
}

.search-results #mega-menu-wrap-main-navigation #mega-menu-main-navigation>li.mega-menu-item.mega-toggle-on>a.mega-menu-link {
    color: #000 !important;
}

.search-results #mega-menu-wrap-main-navigation #mega-menu-main-navigation a.mega-menu-link {
    color: #000 !important;
}

.eltdf-login-register-holder .ui-state-default.ui-corner-top {
    background-color: #f6f6f6 !Important;
}

.eltdf-login-register-holder .ui-tabs-active.ui-state-active {
    background-color: #fff !Important;
}

.search-results .eltdf-menu-area:not(.fixed):not(.eltdf-sticky-header) .eltdf-login-register-widget.eltdf-user-logged-in .eltdf-logged-in-user .eltdf-logged-in-user-inner>span span {
    color: #000 !important;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 10% auto;
    padding: 25px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 0px;
    right: 30px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

/* QUIZ 28 JAN*/


#input_1_7 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* END QUIZ 28 JAN*/

.eltdf-woo-single-page .eltdf-single-product-content .images.woocommerce-product-gallery--columns-5 .woocommerce-product-gallery__image:not(:first-child) {
    overflow: hidden;
    width: 80px !important;
    height: 80px;
    border-radius: 100px;
    padding: 0px !Important;
    margin: 0px 5px;
}

.eltdf-woo-single-page .eltdf-single-product-content .images figure a {
    width: 100% !important;
    height: 100% !important;
}

.eltdf-woo-single-page .eltdf-single-product-content .images figure a img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

footer .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required::-webkit-input-placeholder,
#blogSearch .widget.widget_search input::-webkit-input-placeholder,
#testimonialsForm input::-webkit-input-placeholder,
#testimonialsForm textarea::-webkit-input-placeholder,
.eltdf-search-cover input::-webkit-input-placeholder,
#user_login_name::-webkit-input-placeholder,
.eltdf-login-register-content.ui-tabs .eltdf-login-form input[type=password]::-webkit-input-placeholder,
.eltdf-search-page-holder .eltdf-search-page-form .eltdf-form-holder .eltdf-search-field::-webkit-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=text]::-webkit-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=email]::-webkit-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=password]::-webkit-input-placeholder,
.woocommerce-page .eltdf-content input[type=text]::-webkit-input-placeholder,
.woocommerce-page .eltdf-content textarea::-webkit-input-placeholder {
    text-transform: initial !important;
}

footer .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required:-moz-placeholder,
#blogSearch .widget.widget_search input:-moz-placeholder,
#testimonialsForm input:-moz-placeholder,
#testimonialsForm textarea:-moz-placeholder,
..eltdf-search-cover input:-moz-placeholder,
#user_login_name:-moz-placeholder,
.eltdf-login-register-content.ui-tabs .eltdf-login-form input[type=password]:-moz-placeholder,
.eltdf-search-page-holder .eltdf-search-page-form .eltdf-form-holder .eltdf-search-field:-moz-placeholder,
.eltdf-login-register-content.ui-tabs input[type=text]:-moz-placeholder,
.eltdf-login-register-content.ui-tabs input[type=email]:-moz-placeholder,
.eltdf-login-register-content.ui-tabs input[type=password]:-moz-placeholder,
.woocommerce-page .eltdf-content input[type=text]:-moz-placeholder,
.woocommerce-page .eltdf-content textarea:-moz-placeholder {
    text-transform: initial !important;
}

footer .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required::-moz-placeholder,
#blogSearch .widget.widget_search input::-moz-placeholder,
#testimonialsForm input::-moz-placeholder,
#testimonialsForm textarea::-moz-placeholder,
.eltdf-search-cover input::-ms-input-placeholder,
#user_login_name::-ms-input-placeholder,
.eltdf-login-register-content.ui-tabs .eltdf-login-form input[type=password]::-ms-input-placeholder,
.eltdf-search-page-holder .eltdf-search-page-form .eltdf-form-holder .eltdf-search-field::-ms-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=text]::-ms-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=email]::-ms-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=password]::-ms-input-placeholder,
.woocommerce-page .eltdf-content input[type=text]::-ms-input-placeholder,
.woocommerce-page .eltdf-content textarea::-ms-input-placeholder {
    text-transform: initial !important;
}

footer .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required::-ms-input-placeholder,
#blogSearch .widget.widget_search input::-ms-input-placeholder,
#testimonialsForm input::-ms-input-placeholder,
#testimonialsForm textarea::-ms-input-placeholder,
.eltdf-search-cover input::-ms-input-placeholder,
#user_login_name::-ms-input-placeholder,
.eltdf-login-register-content.ui-tabs .eltdf-login-form input[type=password]::-ms-input-placeholder,
.eltdf-search-page-holder .eltdf-search-page-form .eltdf-form-holder .eltdf-search-field::-ms-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=text]::-ms-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=email]::-ms-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=password]::-ms-input-placeholder,
.woocommerce-page .eltdf-content input[type=text]::-ms-input-placeholder,
.woocommerce-page .eltdf-content textarea::-ms-input-placeholder {
    text-transform: initial !important;
    font-family: cousine;
}


.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required::-webkit-input-placeholder,
#blogSearch .widget.widget_search input::-webkit-input-placeholder,
#testimonialsForm input::-webkit-input-placeholder,
#testimonialsForm textarea::-webkit-input-placeholder,
.eltdf-search-cover input::-webkit-input-placeholder,
#user_login_name::-webkit-input-placeholder,
.eltdf-login-register-content.ui-tabs .eltdf-login-form input[type=password]::-webkit-input-placeholder,
.eltdf-search-page-holder .eltdf-search-page-form .eltdf-form-holder .eltdf-search-field::-webkit-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=text]::-webkit-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=email]::-webkit-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=password]::-webkit-input-placeholder,
.woocommerce-page .eltdf-content input[type=text]::-webkit-input-placeholder,
.woocommerce-page .eltdf-content textarea::-webkit-input-placeholder {
    text-transform: initial !important;
    font-family: cousine;
}

.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required:-moz-placeholder,
#blogSearch .widget.widget_search input:-moz-placeholder,
#testimonialsForm input:-moz-placeholder,
#testimonialsForm textarea:-moz-placeholder,
.eltdf-search-cover input:-moz-placeholder,
#user_login_name:-moz-placeholder,
.eltdf-login-register-content.ui-tabs .eltdf-login-form input[type=password]:-moz-placeholder,
.eltdf-search-page-holder .eltdf-search-page-form .eltdf-form-holder .eltdf-search-field:-moz-placeholder,
.eltdf-login-register-content.ui-tabs input[type=text]:-moz-placeholder,
.eltdf-login-register-content.ui-tabs input[type=email]:-moz-placeholder,
.eltdf-login-register-content.ui-tabs input[type=password]:-moz-placeholder,
.woocommerce-page .eltdf-content input[type=text]:-moz-placeholder,
.woocommerce-page .eltdf-content textarea:-moz-placeholder {
    text-transform: initial !important;
    font-family: cousine;
}

.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required::-moz-placeholder,
#blogSearch .widget.widget_search input::-moz-placeholder,
#testimonialsForm input::-moz-placeholder,
#testimonialsForm textarea::-moz-placeholder,
.eltdf-search-cover input::-moz-placeholder,
#user_login_name::-moz-placeholder,
.eltdf-login-register-content.ui-tabs .eltdf-login-form input[type=password]::-moz-placeholder,
.eltdf-search-page-holder .eltdf-search-page-form .eltdf-form-holder .eltdf-search-field::-moz-placeholder,
.eltdf-login-register-content.ui-tabs input[type=text]::-moz-placeholder,
.eltdf-login-register-content.ui-tabs input[type=email]::-moz-placeholder,
.eltdf-login-register-content.ui-tabs input[type=password]::-moz-placeholder,
.woocommerce-page .eltdf-content input[type=text]::-moz-placeholder,
.woocommerce-page .eltdf-content textarea::-moz-placeholder {
    text-transform: initial !important;
    font-family: cousine;
}

.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required::-ms-input-placeholder,
#blogSearch .widget.widget_search input::-ms-input-placeholder,
#testimonialsForm input::-ms-input-placeholder,
#testimonialsForm textarea::-ms-input-placeholder,
.eltdf-search-cover input::-ms-input-placeholder,
#user_login_name::-ms-input-placeholder,
.eltdf-login-register-content.ui-tabs .eltdf-login-form input[type=password]::-ms-input-placeholder,
.eltdf-search-page-holder .eltdf-search-page-form .eltdf-form-holder .eltdf-search-field::-ms-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=text]::-ms-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=email]::-ms-input-placeholder,
.eltdf-login-register-content.ui-tabs input[type=password]::-ms-input-placeholder,
.woocommerce-page .eltdf-content input[type=text]::-ms-input-placeholder,
.woocommerce-page .eltdf-content textarea::-ms-input-placeholder {
    text-transform: initial !important;
    font-family: cousine !important;
}


.learn_more1 {
    background-color: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
    padding: 13px 46px !important;
    margin-right: 3% !important;
    text-transform: Uppercase !important;
    text-align: center !important;
    font-size: 13px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900 !important;
    letter-spacing: 1px !Important;
}

.eltdf-woo-single-page .eltdf-single-product-content .images figure {
    text-align: center !important;
}

#testimonialsForm input[type=text],
#testimonialsForm input[type=email],
#testimonialsForm textarea {
    font-family: cousine !important;
}

#reply-title {
    font-size: 35px !important;
}

#submit_comment {
    letter-spacing: 1px !important;
}

.vc_tta-panels-container .vc_active {
    animation: fadeIn ease 6s;
    -webkit-animation: fadeIn ease 6s;
    -moz-animation: fadeIn ease 6s;
    -o-animation: fadeIn ease 6s;
    -ms-animation: fadeIn ease 6s;
}

@keyframes vc_active {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes vc_active {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes vc_active {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes vc_active {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes vc_active {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    .eltdf-login-register-content.ui-tabs .eltdf-login-form input[type=password]:focus {
        color: #000;
        border: none !important;
        border-bottom: 1px solid #ccc !important;
    }

    .eltdf-woocommerce-page .woocommerce-checkout .select2-container--default {
        border-bottom: 0px !important;
    }

    #mega-menu-wrap-main-navigation #mega-menu-main-navigation>li.mega-menu-item.mega-current-menu-item>a.mega-menu-link::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 50%;
        padding-top: 0px;
        border-bottom: solid 1px #D32F92;
        position: relative;
        top: -2px;
        left: 0;
        margin-left: 0;
    }

    #azh-switch-mode {
        display: none !important;
    }