/* ==========================================================================
   Title styles - begin
   ========================================================================== */
textarea {
  padding: 13px 25px !important;
  margin-top: 10px !important;
  font-size: 10px !important;
  text-transform: none !important;
  letter-spacing: .16em !important;
  font-weight: 400 !important;
}

/* ==========================================================================
   Title style - begin
   ========================================================================== */
.eltdf-title-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 144px;
  background-color: #f6f6f6;
  background-position: center 0;
  background-repeat: no-repeat;
  z-index: 101;
}

.eltdf-title-holder.eltdf-title-full-width .eltdf-grid {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0 40px;
  box-sizing: border-box;
}

.eltdf-title-holder.eltdf-bg-responsive {
  height: auto !important;
}

.eltdf-title-holder.eltdf-bg-responsive .eltdf-title-image {
  display: block;
}

.eltdf-title-holder.eltdf-bg-responsive .eltdf-title-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.eltdf-title-holder.eltdf-bg-parallax {
  background-attachment: fixed;
}

.eltdf-title-holder .eltdf-title-image {
  display: none;
}

.eltdf-title-holder .eltdf-title-image img {
  display: block;
  width: 100%;
}

.eltdf-title-holder .eltdf-title-wrapper {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.eltdf-title-holder .eltdf-title-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

/* ==========================================================================
   Title style - end
   ========================================================================== */
/* ==========================================================================
   Breadcrumbs Title type style - begin
   ========================================================================== */
.eltdf-title-holder.eltdf-breadcrumbs-type .eltdf-breadcrumbs {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  color: #000;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .145em;
  line-height: 3em;
}

.eltdf-title-holder.eltdf-breadcrumbs-type .eltdf-breadcrumbs.eltdf-has-inline-style a {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.eltdf-title-holder.eltdf-breadcrumbs-type .eltdf-breadcrumbs.eltdf-has-inline-style a:hover {
  color: inherit;
  opacity: 0.9;
}

.eltdf-title-holder.eltdf-breadcrumbs-type .eltdf-breadcrumbs a,
.eltdf-title-holder.eltdf-breadcrumbs-type .eltdf-breadcrumbs span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
}

.eltdf-title-holder.eltdf-breadcrumbs-type .eltdf-breadcrumbs a:hover {
  color: #000;
}

/* ==========================================================================
   Breadcrumbs Title type style - end
   ========================================================================== */
/* ==========================================================================
   Centered Title type style - begin
   ========================================================================== */
.eltdf-title-holder.eltdf-centered-type .eltdf-title-inner {
  text-align: center;
}

.eltdf-title-holder.eltdf-centered-type .eltdf-page-title {
  margin: 0;
}

.eltdf-title-holder.eltdf-centered-type .eltdf-page-subtitle {
  display: block;
  margin: 10px auto 0;
  box-sizing: border-box;
  max-width: 480px;
  text-align: center;
}

/* ==========================================================================
   Centered Title type style - end
   ========================================================================== */
/* ==========================================================================
   Standard With Breadcrumbs Title type style - begin
   ========================================================================== */
.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-title-info,
.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs-info {
  display: table-cell;
  vertical-align: middle;
}

.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-title-info {
  display: block;
}

.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs-info {
  display: block;
  white-space: nowrap;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .145em;
  line-height: 3em;
}

.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-page-title {
  margin: 0;
}

.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-page-subtitle {
  margin: 5px 0 0;
  max-width: 480px;
}

.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs {
  color: #000;
  font-weight: 500;
}

.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs.eltdf-has-inline-style a {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs.eltdf-has-inline-style a:hover {
  color: inherit;
  opacity: 0.9;
}

.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs a,
.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
}

.eltdf-title-holder.eltdf-standard-with-breadcrumbs-type .eltdf-breadcrumbs a:hover {
  color: #000;
}

/* ==========================================================================
   Standard With Breadcrumbs Title type style - end
   ========================================================================== */
/* ==========================================================================
   Standard Title type style - begin
   ========================================================================== */
.eltdf-title-holder.eltdf-standard-type .eltdf-page-title {
  margin: 0;
}

.eltdf-title-holder.eltdf-standard-type .eltdf-page-subtitle {
  margin: 10px 0 0;
  max-width: 480px;
}

/* ==========================================================================
   Standard Title type style - end
   ========================================================================== */
/* ==========================================================================
   Title styles - end
   ========================================================================== */

/*# sourceMappingURL=title-map.css.map */
