hr {
	border-bottom: 0;
	border-top: 1px dashed #000;
	margin: 30px 0;
}

.customize-control-kirki input[type="text"], 
.customize-control-kirki input[type="date"], 
.customize-control-kirki input[type="email"], 
.customize-control-kirki input[type="url"], 
.customize-control-kirki input[type="tel"] {
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	line-height: 1;
}

.custom-heading {
	background: #050505;
	border: 1px solid #000;
	box-sizing: border-box;
	color: #fff;
	font-size: 13px;
	font-style: normal;
	/* font-weight: bold; */
	letter-spacing: 1px;
	line-height: 1.6;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1em;
	text-transform: uppercase;
	text-align: center;
}


.custom-description {
	color: #383838;
	font-style: italic;
}

.customize-control-title {
	color: #050505;
}

#customize-controls .description {
	color: #383838;
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
}

#customize-controls .description p:first-child {
	margin-top: 0;
}

.kirki-reset-section {
	background: #F44336 !important;
	font-weight: normal !important;
	text-decoration: none;
}

.customize-control-kirki-checkbox input[type="checkbox"]:after, 
.customize-control-kirki-multicheck input[type="checkbox"]:after, 
.customize-control-repeater input[type="checkbox"]:after {
	background: #fff !important;
}

.customize-control-kirki-checkbox input[type="checkbox"], 
.customize-control-kirki-multicheck input[type="checkbox"], 
.customize-control-repeater input[type="checkbox"],
.customize-control-kirki-multicheck label {
	color: #383838 !important;
	margin-right: 3px !important;
}

.customize-control-kirki-multicheck li:first-child {
	margin-top: 1em;
}

.customize-control-kirki-switch .switch,
.customize-control-kirki-switch .switch label {
	margin-bottom: 0.5em !important;
}

.customize-control .tooltip {
	text-align: left;
	text-decoration: none;
}

.hint:after, [data-hint]:after {
	text-align: left !important;
}