/*
Theme Name: Enso
Description: Used to style the TinyMCE editor.
*/



/* Table of Content
 ==================================================
 #General Styles
 #Elements
*/



/* #Reset
================================================== */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}



/* #General Styles
================================================== */
*:focus {
	outline: none;
}

html {
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
	background: #fff;
	color: #050505;
	font-family: 'Rubik', sans-serif;
	font-size: 15px; /* Base font size */
	font-weight: 300;
	line-height: 1.6;
	margin: 30px auto;
	max-width: 625px;
	/* 
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}

a,
a:visited {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid;
	font-weight: 500;
	padding-bottom: 1px;
}

a:hover {
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin-bottom: 0.8em;
}

h3, h4, h5, h6 {
	letter-spacing: 0.5px;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.375em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.125em;
	text-transform: uppercase;
}

h6 {
	font-size: 1em;
	text-transform: uppercase;
}

address {
	font-style: italic;
}

p,
address,
dl,
pre,
table {
	margin-bottom: 1.6em;
}

p:last-child {
	margin-bottom: 0;
}

ul, ol {
	margin: 0 0 1.6em 1.6em;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
}

.children {
	margin-top: 0.8em;
}

li {
	margin-bottom: 0.8em;
}

img {
	height: auto;
	max-width: 100%;
}

img.border {
	border: 1px solid #eee;
}

/* .post-content img[class*="wp-image-"] {
	margin: 0.8em 0 1.6em;
} */

b,
strong {
	color: #000;
	font-weight: 500;
}

i,
em {
	font-style: italic;
}

label {
	/*font-size: 0.875em;
	color: inherit;*/
}

form {
	margin-bottom: 0;
}

code, 
kbd,
tt,
pre {
	background: #f8f8f8;
	box-sizing: border-box;
	color: #000;
	display: inline-block;
	font-family: Courier, serif;
	font-size: 1em;
	padding: 0 6px;
}

pre {
	box-sizing: border-box;
	overflow: auto;
	padding: 12px;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	width: 100%;
}

sub {
	font-size: x-small;
	vertical-align: sub;
}

sup {
	font-size: x-small;
	vertical-align: super;
}

q,
var {
	font-style: italic;
}

table {
	border: 1px solid #e7e7e7;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

table th,
table td {
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 8px;
}

table th {
	font-size: 1em;
	font-weight: bold;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.6em 1.6em;
}

abbr,
acronym {
	text-transform: uppercase;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
}

blockquote {
	font-size: 1.2em;
	font-weight: 400;
	margin: 1em 0 2.4em;
}

blockquote::before {
	color: #ddd;
	content: '\f10d';
	font-family: 'FontAwesome';
	font-size: 2.4em;
	font-style: normal;
}

blockquote p:first-child {
	margin-top: -3.4em;
}

blockquote p {
	margin-bottom: 1em;
	margin-left: 4em;
}

blockquote cite {
	display: block;
	font-size: 0.8em;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
	margin-top: 1em;
	text-transform: uppercase;
}

blockquote cite::before {
	content: '―';
	padding-right: 6px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.no-opacity {
	opacity: 0;
}

.content-margin-top {
	margin-top: 4.7%; /* 90/1900 */
}

.no-padding,
.no-padding .section-content {
	padding: 0 !important;
}

.no-top-padding {
	padding-top: 0 !important;
}

.grayscale {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.display-opacity {
	opacity: 1 !important;
}

.less-opacity {
	opacity: 0.4;
}

.no-border {
	border: 0 !important;
}

.full-screen-bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}



/*** WP Required CSS ***/
.alignleft {
	float: left;
	margin: 0 1.6em 0.8em 0;
}

.alignright {
	float: right;
	margin: 0 0 0.8em 1.6em;
}

.aligncenter {
	float: none;
	margin: auto;
	text-align: center;
}

img.aligncenter {
	display: block;
}

.bypostauthor {
	width: auto;
}

/* This class is used with WP 'figure' tags */
.wp-caption {
	margin-bottom: 1.6em;
	max-width: 100%;
}

.wp-caption-text,
.gallery-item .gallery-caption {
	font-size: 11px;
	margin-top: 0.2em;
	text-align: center;
}

.wp-caption-text {
	font-size: 11px;
	margin-top: 0.2em;
}

.says, /* .says class is used in the post comments */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar */
}

.sticky .post-title::before {
	/*color: #b74c4c;*/
	content: '\f2a6';
	font-family: 'Ionicons';
	margin-right: 0.8em;
}



/* #Elements
================================================== */

/*** WP Gallery ***/
.gallery {
	margin: 0;
	margin-bottom: 1.625em;
}

.gallery-item {
	display: inline-block;
	margin-bottom: 1.625em;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-item a {
	border: 0;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}