.product .eltdf-pl-text-wrapper > div{ min-height: 45px !important; }

.awdr_free_product_text {
    background-color: #000000 !important;
}

.variable-items-wrapper .variable-item:not(.radio-variable-item) {
    width: 50px;
    height: 50px;
}

.variable-items-wrapper .variable-item:not(.radio-variable-item) span {
    font-size: 12px;
}

#homeQuiz {
    padding: 120px 0 150px !important;
    background-size: contain !important;
    background-position: left center !important;
    margin-bottom: 0px !important;
}

/* product slide */
span.prodSlideControls {
    margin-right: 40px;
    display: block;
    clear: both;
    text-align: center;
    margin-top: -30px;
}

span.prodSlideControls i.fas {
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

span.prodSlideControls i.fas:hover {
    opacity: 0.7;
}

/* Responsive */
@media screen and (max-width: 1024px) {
/*     .homeIngredients #start_wrapper {
        padding: 20px !important;
    } */

    #homeQuiz {
        padding: 0 !important
    }

    /* .mobileThird .wpb_single_image img { */
    /* min-height: 260px !important; */
    /* } */

    body.product-template-default.single .eltdf-title-holder.eltdf-standard-with-breadcrumbs-type {
        display: none;
    }

    .prodSlideControls {
        display: none !important;
    }

}

@media screen and (max-width: 980px) {
    #homeQuiz {
        background-position: 100% 20% !important;
    }

    #quizTwoRR>.vc_column-inner {
        margin: 0 !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        padding-top: 0 !important;
    }

    #quizTwoRR .quizTextRR .eltdf-eh-item-content {
        padding-top: 0 !important;
    }
}

@media only screen and (max-width: 500px) {
/*     .homeIngredients #start_wrapper {
        min-height: 500px !important;
        height: 500px !important;
    } */
}