/* ==========================================================================
   Skew Section styles - begin
   ========================================================================== */
textarea {
  padding: 13px 25px !important;
  margin-top: 10px !important;
  font-size: 10px !important;
  text-transform: none !important;
  letter-spacing: .16em !important;
  font-weight: 400 !important;
}

/* ==========================================================================
# Skewed Section style - begin
========================================================================== */
.eltdf-has-skewed-section-effect {
  position: relative;
  z-index: 100;
}

.eltdf-skewed-section-effect > svg {
  vertical-align: middle;
}

.eltdf-skewed-section-effect > svg > * {
  fill: currentColor;
}

.eltdf-top-skewed-section-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  -webkit-transform: rotate(-180deg) translateY(99%);
  -moz-transform: rotate(-180deg) translateY(99%);
  transform: rotate(-180deg) translateY(99%);
}

.eltdf-bottom-skewed-section-effect,
.eltdf-header-skewed-section-effect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  -webkit-transform: translateY(99%);
  -moz-transform: translateY(99%);
  transform: translateY(99%);
}

.eltdf-title-skewed-section-effect {
  position: relative;
}

.eltdf-title-skewed-section-effect.eltdf-title-inset-section-effect {
  z-index: 101;
  -webkit-transform: rotate(180deg) translateY(100%);
  -moz-transform: rotate(180deg) translateY(100%);
  transform: rotate(180deg) translateY(100%);
}

/* ==========================================================================
# Skewed Section style - end
========================================================================== */
/* ==========================================================================
   Skew Section styles - end
   ========================================================================== */

/*# sourceMappingURL=skewed-section-map.css.map */
