.serum-quiz{
	width: 100%;
	display: block !important;
  	padding: 0;
}
.serum-quiz .gform_title {
	text-align: center;
	font-size: 24px;
	margin-bottom: 25px;
}
.gform_wrapper .serum-quiz .gf_progressbar_wrapper {
	padding: 0px;
	text-align: center;
}
.gform_wrapper .serum-quiz .gf_progressbar_wrapper h3.gf_progressbar_title {
	font-size: 18px;
	opacity: 1;
	font-family: trenda-regular !important;
}
.serum-quiz .top_label .gfield_label {
	text-align: center;
	margin: 0 auto;
	font-weight: normal !important;
	font-family: trenda-regular;
	color: #000;
	font-size: 20px;
}
.serum-quiz .gform_page_footer {
	text-align: center;
	margin: 0 auto;
	border-top: 0px none !important;
}
.serum-quiz .gf_progressbar {
	display: none;
}
.serum-quiz .gfield {
	text-align: center;
}
.serum-quiz .gform_fields{
	padding: 0;
}
.serum-quiz .ginput_container_radio{
	margin: 0 auto;
	text-align: center;
	max-width: 664px;
}
.serum-quiz .ginput_container_radio .gfield_radio{
	width: 100%;
	margin: 0;
	padding: 0;
}
.serum-quiz .ginput_container_radio .gfield_radio li{
	display: inline-block;
	width: 160px;
	background-color: #c9cfcd;
	font-size: 16px;
	color:#fff;
	font-family: trenda-regular;
	margin: 0 6px;
}
.serum-quiz .ginput_container_radio .gfield_radio li input[type=radio]{
	display: none;
}
.serum-quiz .ginput_container_radio .gfield_radio li label{
	height: 110px;
	padding: 15px;
	cursor: pointer;
	margin: 0px auto;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	border: none;
	width: 160px ;
	font-size: 17px;
	line-height: 21px;
}
.serum-quiz .ginput_container_radio .gfield_radio li label:hover,
.serum-quiz .ginput_container_radio .gfield_radio li input[type="radio"]:checked + label { 
  	background-color: #efefe9;
	color: #000;
}
.gform_wrapper .serum-quiz .gfield_required {
	display: none !important; 
}
.serum-quiz .gform_wrapper li.gfield.gfield_error {
	background-color: inherit;
	margin-bottom: 0px !important;
	border-top: none;
	border-bottom: none;
	padding-bottom: 0px;
	padding-top: 0px;
	box-sizing: none;
}
.serum-quiz .validation_message {
	display: none;
}
.serum-quiz .gform_wrapper div.validation_error {
	border: none;
	padding: 0;
	margin: 0;
}
.serum-quiz .gform_wrapper .gfield_error .gfield_label,
.serum-quiz .gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, 
.serum-quiz .gform_wrapper li.gfield_error ul.gfield_checkbox, 
.serum-quiz .gform_wrapper li.gfield_error ul.gfield_radio {
	color: inherit !important;
}