/** popup **/
.popup iframe
{
	width: 65%;
    height: 415px;
}

/** Outer */
.popup
{
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	background:rgba(0,0,0,0.75);
	top:0px;
	left:0px;	
}

/* Inner */
.popup-inner
{
	max-width:700px;
	width:90%;
	padding:25px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);	
	background:#f2dcd3;
	text-align:center;
}

/** Close Button **/
.popup-close
{
	width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top: -22px;
    right: 9px;
	font-family: trenda-light;
	font-size:57px;	
	color: #000 !important;
}
.popup-close:hover
{
	text-decoration:none;
	color: #000 !important;
}
.popup-close:visited
{
	text-decoration:none;
	color: #000 !important;
}

/** Form **/
#hubspot_embed_signup 
{
	text-align:center;
}
#hubspot_embed_signup .hbspt-form input[type="text"], #hubspot_embed_signup .hbspt-form input[type="email"]
{
	width:98%;
	height:39px;
	border:0px;
	margin-bottom: 20px;
	padding-left: 10px;
	color:#000;
	font-family:trenda-regular;
	text-transform:uppercase;
}
#hubspot_embed_signup .hbspt-form label .hs-form-required 
{
	display:none;
}
#hubspot_embed_signup .hbspt-form  .hs-error-msgs.inputs-list
{
	display: block;
    list-style: none;
    text-align: left;
    padding: 0px;
    margin: 0px;
    color: #FF0000;
	margin-top: -20px;
    margin-bottom: 10px;
	font-size:14px;
	font-family: trenda-light, serif;
}
#hubspot_embed_signup .hbspt-form .hs_error_rollup
{
	display:none;
}
#hubspot_embed_signup .hbspt-form .submitted-message
{
	font-family: trenda-regular, serif;
    font-size: 18px;
}
#hubspot_embed_signup  input[type="submit"]
{
	width:100%;
	background: #000;
    color: #fff;
    border: 0px;
    padding: 20px;
	font-family: trenda-bold !important;
	font-size: 12px;
}
#hubspot_embed_signup h3.hubspot_h3
{
	font-family: trenda-bold !important;
    color: #fff; 
	font-size: 27px; 
    letter-spacing: 2px;
    font-weight: normal;
	margin-bottom: 0px;
    margin-top: 0px;
	line-height:30px;
}
#hubspot_embed_signup .hubspot_p
{
	font-family: trenda-bold !important;
    color: #000;
    font-size: 17px;  
    font-weight: normal;
}
/** Responsive popup **/
@media (max-width: 650px){
	.popup iframe
	{
		width: 100%;
	}	
}
@media (max-width: 420px){
	.popup iframe
	{
		width: 100%;
		height: 450px;
	}	
}


/** Fonts **/
@font-face {
  font-family: 'trenda-bold';
  src: url('../fonts/trenda-bold.otf'); /* IE9 Compat Modes */
  src: url('../fonts/trenda-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/trenda-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/trenda-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/trenda-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/trenda-bold-webfont.svg#trenda-bold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'trenda-light';
  src: url('../fonts/trenda-light.otf'); /* IE9 Compat Modes */
  src: url('../fonts/trenda-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/trenda-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/trenda-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/trenda-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/trenda-light-webfont.svg#trenda-light') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'trenda-regular';
  src: url('../fonts/trenda-regular.otf'); /* IE9 Compat Modes */
  src: url('../fonts/trenda-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/trenda-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/trenda-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/trenda-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/trenda-regular-webfont.svg#trenda-regular') format('svg'); /* Legacy iOS */
}
