/* ==========================================================================
   Side area styles - begin
   ========================================================================== */
textarea {
  padding: 13px 25px !important;
  margin-top: 10px !important;
  font-size: 10px !important;
  text-transform: none !important;
  letter-spacing: .16em !important;
  font-weight: 400 !important;
}

/* ==========================================================================
# Side area style - begin
========================================================================== */
.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-side-menu-button-opener,
.eltdf-light-header .eltdf-top-bar .eltdf-side-menu-button-opener {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-side-menu-button-opener.opened, .eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-side-menu-button-opener:hover,
.eltdf-light-header .eltdf-top-bar .eltdf-side-menu-button-opener.opened,
.eltdf-light-header .eltdf-top-bar .eltdf-side-menu-button-opener:hover {
  color: rgba(255, 255, 255, 0.9) !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-side-menu-button-opener,
.eltdf-dark-header .eltdf-top-bar .eltdf-side-menu-button-opener {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-side-menu-button-opener.opened, .eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-side-menu-button-opener:hover,
.eltdf-dark-header .eltdf-top-bar .eltdf-side-menu-button-opener.opened,
.eltdf-dark-header .eltdf-top-bar .eltdf-side-menu-button-opener:hover {
  color: rgba(0, 0, 0, 0.9) !important;
}

.eltdf-side-menu-button-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 2px;
}

.eltdf-side-menu-button-opener .eltdf-side-menu-title {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0 0;
  color: currentColor;
}

.eltdf-side-menu-button-opener .eltdf-side-menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.eltdf-side-menu-button-opener.opened, .eltdf-side-menu-button-opener:hover {
  color: #000;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-icon-pack .eltdf-side-menu-icon {
  font-size: 34px;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-icon-pack .eltdf-side-menu-icon * {
  display: block;
  line-height: inherit;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-icon-pack .eltdf-side-menu-icon *:before {
  display: block;
  line-height: inherit;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path {
  overflow: hidden;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path .eltdf-side-menu-icon > * {
  vertical-align: middle;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path .eltdf-side-menu-icon > *,
.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path .eltdf-side-menu-icon path {
  fill: currentColor;
  stroke: currentColor;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path line {
  transform: translateX(0);
  transform-origin: 0 50%;
  transition: transform 0.4s cubic-bezier(0.28, 0.38, 0, 0.81);
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path line.eltdf-burger-filler {
  transform: translateX(-101%);
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path line:nth-child(1) {
  transition-delay: .4s;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path line:nth-child(2) {
  transition-delay: .5s;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path line:nth-child(3) {
  transition-delay: .6s;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path line:nth-child(4) {
  transition-delay: .1s;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path line:nth-child(5) {
  transition-delay: .2s;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path line:nth-child(6) {
  transition-delay: .3s;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path:hover line {
  transform: translateX(101%);
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path:hover line.eltdf-burger-filler {
  transform: translateX(0);
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path:hover line:nth-child(1) {
  transition-delay: .1s;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path:hover line:nth-child(2) {
  transition-delay: .2s;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path:hover line:nth-child(3) {
  transition-delay: .3s;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path:hover line:nth-child(4) {
  transition-delay: .4s;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path:hover line:nth-child(5) {
  transition-delay: .5s;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-svg-path:hover line:nth-child(6) {
  transition-delay: .6s;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-predefined {
  line-height: 1;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-predefined .eltdf-hm-lines {
  position: relative;
  display: block;
  width: 23px;
  height: 17px;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-predefined .eltdf-hm-lines .eltdf-hm-line {
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: currentColor;
  border-radius: 12px;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-predefined .eltdf-hm-lines .eltdf-hm-line.eltdf-line-1 {
  top: 0;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-predefined .eltdf-hm-lines .eltdf-hm-line.eltdf-line-2 {
  top: 7px;
}

.eltdf-side-menu-button-opener.eltdf-side-menu-button-opener-predefined .eltdf-hm-lines .eltdf-hm-line.eltdf-line-3 {
  bottom: 0;
}

.eltdf-side-menu {
  position: fixed;
  top: 0;
  right: -485px;
  width: 485px;
  height: 100%;
  min-height: 100%;
  padding: 6% 65px 36px;
  background-color: #fff;
  text-align: left;
  overflow: hidden;
  visibility: hidden;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.eltdf-side-menu a:hover {
  color: #3d3d3d;
}

.eltdf-side-menu a.eltdf-close-side-menu {
  position: absolute;
  top: 33px;
  right: 55px;
  display: block;
  z-index: 1000;
  color: #231f20;
  font-size: 34px;
}

.eltdf-header-top-enabled .eltdf-side-menu a.eltdf-close-side-menu {
  top: 73px;
  right: 60px;
}

.eltdf-side-menu a.eltdf-close-side-menu:hover {
  color: #000;
}

.admin-bar .eltdf-side-menu a.eltdf-close-side-menu {
  top: 68px;
}

.eltdf-side-menu a.eltdf-close-side-menu.eltdf-close-side-menu-icon-pack {
  font-size: 27px;
}

.eltdf-side-menu a.eltdf-close-side-menu.eltdf-close-side-menu-icon-pack * {
  display: block;
  line-height: inherit;
}

.eltdf-side-menu a.eltdf-close-side-menu.eltdf-close-side-menu-icon-pack *:before {
  display: block;
  line-height: inherit;
}

.eltdf-side-menu a.eltdf-close-side-menu.eltdf-close-side-menu-svg-path {
  height: 15px;
}

.eltdf-side-menu a.eltdf-close-side-menu.eltdf-close-side-menu-svg-path svg {
  visibility: visible;
  height: 16px;
  width: 17px;
}

.eltdf-side-menu a.eltdf-close-side-menu.eltdf-close-side-menu-svg-path svg line {
  stroke-dashoffset: 40px;
  stroke-dasharray: 20px;
  stroke-linecap: butt;
  -webkit-transition: all 0 linear;
  -moz-transition: all 0 linear;
  transition: all 0 linear;
}

.eltdf-side-menu a.eltdf-close-side-menu.eltdf-close-side-menu-svg-path:hover svg line {
  stroke-dashoffset: 0;
  stroke-dasharray: 20px;
  -webkit-transition: all 0.65s cubic-bezier(0.28, 0.38, 0, 0.81);
  -moz-transition: all 0.65s cubic-bezier(0.28, 0.38, 0, 0.81);
  transition: all 0.65s cubic-bezier(0.28, 0.38, 0, 0.81);
}

.eltdf-side-menu a.eltdf-close-side-menu.eltdf-close-side-menu-svg-path:hover svg line:nth-of-type(2) {
  transition-delay: .4s;
}

.eltdf-side-menu a.eltdf-close-side-menu.eltdf-close-side-menu-svg-path > *,
.eltdf-side-menu a.eltdf-close-side-menu.eltdf-close-side-menu-svg-path path {
  fill: currentColor;
  stroke: currentColor;
}

/* ==========================================================================
# Side area style - end
========================================================================== */
/* ==========================================================================
# Side area slides over content style - begin
========================================================================== */
.eltdf-right-side-menu-opened .eltdf-wrapper,
.eltdf-right-side-menu-opened footer.eltdf-footer-uncover,
.eltdf-right-side-menu-opened .eltdf-fixed-wrapper.fixed,
.eltdf-right-side-menu-opened .eltdf-sticky-header,
.eltdf-right-side-menu-opened .mobile-header-appear .eltdf-mobile-header-inner {
  left: 0;
}

.eltdf-side-menu-slide-from-right .eltdf-wrapper {
  background-color: #fff;
  position: relative;
  z-index: 1000;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.eltdf-side-menu-slide-from-right .eltdf-wrapper .eltdf-cover {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
}

.eltdf-side-menu-slide-from-right .eltdf-sticky-header,
.eltdf-side-menu-slide-from-right .eltdf-fixed-wrapper.fixed {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.eltdf-side-menu-slide-from-right footer.eltdf-footer-uncover {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.eltdf-side-menu-slide-from-right.eltdf-right-side-menu-opened .eltdf-cover {
  z-index: 1002;
  opacity: 1;
}

.eltdf-side-menu-slide-from-right.eltdf-right-side-menu-opened .eltdf-side-menu {
  right: 0;
  visibility: visible;
}

/* ==========================================================================
# Side area slides over content style - end
========================================================================== */
/* ==========================================================================
# Side area uncovering - begin
========================================================================== */
.eltdf-side-area-uncovered-from-content.eltdf-right-side-menu-opened .eltdf-wrapper,
.eltdf-side-area-uncovered-from-content.eltdf-right-side-menu-opened footer.eltdf-footer-uncover,
.eltdf-side-area-uncovered-from-content.eltdf-right-side-menu-opened .eltdf-sticky-header,
.eltdf-side-area-uncovered-from-content.eltdf-right-side-menu-opened .eltdf-fixed-wrapper.fixed,
.eltdf-side-area-uncovered-from-content.eltdf-right-side-menu-opened .eltdf-mobile-header-inner,
.eltdf-side-area-uncovered-from-content.eltdf-right-side-menu-opened .mobile-header-appear .eltdf-mobile-header-inner {
  left: -485px;
}

.eltdf-side-area-uncovered-from-content .eltdf-side-menu {
  right: 0;
  z-index: 90;
}

.eltdf-side-area-uncovered-from-content .eltdf-sticky-header,
.eltdf-side-area-uncovered-from-content .eltdf-fixed-wrapper.fixed {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

/* ==========================================================================
# Side area uncovering - end
========================================================================== */
/* ==========================================================================
# Side area slides with content style - begin
========================================================================== */
.eltdf-side-menu-slide-with-content {
  overflow-x: hidden;
  position: relative;
  left: 0;
  -webkit-overflow-scrolling: auto !important;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.eltdf-side-menu-slide-with-content .eltdf-side-menu {
  visibility: visible;
}

.eltdf-side-menu-slide-with-content footer.eltdf-footer-uncover,
.eltdf-side-menu-slide-with-content .eltdf-wrapper {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.eltdf-side-menu-slide-with-content .eltdf-sticky-header,
.eltdf-side-menu-slide-with-content .eltdf-fixed-wrapper.fixed,
.eltdf-side-menu-slide-with-content .eltdf-mobile-header-inner {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.eltdf-side-menu-slide-with-content.eltdf-side-menu-open .eltdf-wrapper,
.eltdf-side-menu-slide-with-content.eltdf-side-menu-open footer.eltdf-footer-uncover,
.eltdf-side-menu-slide-with-content.eltdf-side-menu-open .eltdf-sticky-header,
.eltdf-side-menu-slide-with-content.eltdf-side-menu-open .eltdf-fixed-wrapper,
.eltdf-side-menu-slide-with-content.eltdf-side-menu-open .eltdf-mobile-header-inner {
  left: -485px;
}

.eltdf-side-menu-slide-with-content.eltdf-side-menu-open .eltdf-side-menu {
  right: 0;
}

/* ==========================================================================
# Side area slides with content style - end
========================================================================== */
/* ==========================================================================
# Side area responsive style - begin
========================================================================== */
@media only screen and (max-width: 1440px) {
  .eltdf-side-menu-slide-from-right .eltdf-side-menu {
    padding: 80px 65px 36px;
  }
}

@media only screen and (max-width: 1280px) {
  .eltdf-side-menu-slide-from-right .eltdf-side-menu {
    padding: 60px 42px 30px 41px;
  }
}

/* ==========================================================================
# Side area style - end
========================================================================== */
/* ==========================================================================
   Side area styles - end
   ========================================================================== */

/*# sourceMappingURL=sidearea-map.css.map */
