/* ==========================================================================
   Blog styles - begin
   ========================================================================== */
textarea {
  padding: 13px 25px !important;
  margin-top: 10px !important;
  font-size: 10px !important;
  text-transform: none !important;
  letter-spacing: .16em !important;
  font-weight: 400 !important;
}

/* ==========================================================================
   Blog Common style - begin
   ========================================================================== */
.eltdf-blog-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 40px;
  clear: both;
  box-sizing: border-box;
}

.eltdf-blog-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.eltdf-blog-holder article .eltdf-post-heading > .eltdf-post-info-date {
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 999;
  -webkit-transform: rotate(90deg) translateZ(0);
  -moz-transform: rotate(90deg) translateZ(0);
  transform: rotate(90deg) translateZ(0);
  transform-origin: 0 0;
  background-color: #fff;
  line-height: 40px;
  padding: 0 15px;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
}

@media screen and (max-width: 680px) {
  .eltdf-blog-holder article .eltdf-post-heading > .eltdf-post-info-date {
    left: 0;
    -webkit-transform: rotate(0) translateZ(0);
    -moz-transform: rotate(0) translateZ(0);
    transform: rotate(0) translateZ(0);
  }
}

.eltdf-blog-holder article.sticky .eltdf-post-title a {
  text-decoration: underline;
  color: #000;
}

.eltdf-blog-holder article .eltdf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltdf-blog-holder article .eltdf-post-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.eltdf-blog-holder article .eltdf-post-image img {
  display: block;
}

.eltdf-blog-holder article .eltdf-post-image-background {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.eltdf-blog-holder article .eltdf-post-image-background a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.eltdf-blog-holder article .eltdf-post-image-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  line-height: 1;
  color: #fff;
}

.eltdf-blog-holder article .eltdf-post-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.eltdf-blog-holder article .eltdf-post-text-main > .eltdf-post-title {
  margin: 0;
  padding: 0 0 13px 0;
}

.eltdf-blog-holder article .eltdf-post-text-main > p {
  line-height: 26px;
}

.eltdf-blog-holder article .eltdf-post-excerpt {
  margin-bottom: 0;
}

.eltdf-blog-holder article .eltdf-post-excerpt:after {
  content: '...';
}

.eltdf-blog-holder article .eltdf-more-link-container {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
}

.eltdf-blog-holder article .eltdf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltdf-blog-holder article .eltdf-post-info > * {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: currentColor;
}

.eltdf-blog-holder article .eltdf-post-info > * a {
  color: inherit;
}

.eltdf-blog-holder article .eltdf-post-info-top > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px 0 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .16em;
  font-weight: 400;
}

.eltdf-blog-holder article .eltdf-post-info-top > div:after {
  content: '/';
  position: absolute;
  top: 0;
  right: 0;
}

.eltdf-blog-holder article .eltdf-post-info-top > div:last-child {
  padding: 0;
}

.eltdf-blog-holder article .eltdf-post-info-top > div:last-child:after {
  content: '';
}

.eltdf-blog-holder article .eltdf-post-info-top > div a {
  color: inherit;
}

.eltdf-blog-holder article .eltdf-post-info-top > div a:hover {
  color: #000;
}

.eltdf-blog-holder article .eltdf-post-info-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding-top: 42px;
  margin-bottom: -10px;
  line-height: 28px;
}

.eltdf-blog-holder article .eltdf-post-info-bottom .eltdf-tags {
  color: #000;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .16em;
  font-weight: 400;
}

.eltdf-blog-holder article .eltdf-post-info-bottom .eltdf-tags a {
  display: inline-block;
}

.eltdf-blog-holder article .eltdf-post-info-bottom .eltdf-post-info-bottom-left,
.eltdf-blog-holder article .eltdf-post-info-bottom .eltdf-post-info-bottom-right {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

@media only screen and (min-width: 769px) {
  .eltdf-blog-holder article .eltdf-post-info-bottom .eltdf-post-info-bottom-left,
  .eltdf-blog-holder article .eltdf-post-info-bottom .eltdf-post-info-bottom-right {
    width: 50%;
  }
  .eltdf-blog-holder article .eltdf-post-info-bottom .eltdf-post-info-bottom-left {
    float: left;
  }
  .eltdf-blog-holder article .eltdf-post-info-bottom .eltdf-post-info-bottom-right {
    text-align: right;
    float: right;
  }
}

.eltdf-blog-holder article .eltdf-post-info-bottom .eltdf-post-info-bottom-right > div {
  margin-left: 17px;
}

.eltdf-blog-holder article .eltdf-post-info-bottom .eltdf-post-info-bottom-right > div:first-child {
  margin-left: 0;
}

.eltdf-blog-holder article.format-link .eltdf-post-text {
  padding: 48px 50px !important;
  background-color: #eff5f8;
  background-image: url("../../../../../assets/img/link.png");
  background-repeat: no-repeat;
  background-position: 95% -40px;
}

.eltdf-blog-holder article.format-link .eltdf-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
}

.eltdf-blog-holder article.format-link .eltdf-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
}

.eltdf-blog-holder article.format-link .eltdf-post-link-holder h5 {
  margin: 0;
}

.eltdf-blog-holder article.format-link .eltdf-post-link-holder a {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 30px;
}

.eltdf-blog-holder article.format-quote .eltdf-post-text {
  padding: 48px 50px !important;
  background-color: #faf0ed;
  background-image: url("../../../../../assets/img/quote.png");
  background-repeat: no-repeat;
  background-position: 95% -15px;
}

.eltdf-blog-holder article.format-quote .eltdf-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
}

.eltdf-blog-holder article.format-quote .eltdf-post-quote-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
}

.eltdf-blog-holder article.format-quote .eltdf-post-quote-holder h5 {
  margin: 0;
}

.eltdf-blog-holder article.format-quote .eltdf-post-quote-holder a {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 30px;
}

.eltdf-blog-holder article.format-quote .eltdf-quote-author {
  display: inline-block;
  font-size: 10px !important;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .160em;
  margin-top: 17px;
}

.eltdf-blog-holder article.format-gallery .eltdf-post-heading {
  margin-bottom: 28px;
}

.eltdf-blog-holder article.format-gallery .eltdf-post-image {
  width: 100%;
}

.eltdf-blog-holder article.format-gallery .owl-carousel .owl-item {
  z-index: 2;
}

.eltdf-blog-holder article.format-gallery .owl-carousel .owl-item.active {
  z-index: 3;
}

.eltdf-blog-holder article.format-audio.has-post-thumbnail .eltdf-post-heading {
  position: relative;
}

.eltdf-blog-holder article.format-audio .eltdf-post-image {
  width: 100%;
  max-width: inherit;
}

.eltdf-blog-holder article.format-audio .eltdf-post-image img {
  width: 100%;
}

.eltdf-blog-holder article.format-video .eltdf-self-hosted-video {
  max-width: 100%;
}

/* ==========================================================================
   Blog Common style - end
   ========================================================================== */
.eltdf-blog-audio-holder .mejs-container, .eltdf-blog-audio-holder .mejs-embed, .eltdf-blog-audio-holder .mejs-embed body, .eltdf-blog-audio-holder .mejs-container .mejs-controls,
.eltdf-blog-video-holder .mejs-container,
.eltdf-blog-video-holder .mejs-embed,
.eltdf-blog-video-holder .mejs-embed body,
.eltdf-blog-video-holder .mejs-container .mejs-controls {
  background: none;
}

.eltdf-blog-audio-holder .mejs-container,
.eltdf-blog-audio-holder .mejs-container .mejs-controls,
.eltdf-blog-video-holder .mejs-container,
.eltdf-blog-video-holder .mejs-container .mejs-controls {
  height: 50px !important;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls,
.eltdf-blog-video-holder .mejs-container .mejs-controls {
  background: #1d1d1d;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding: 0;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls .mejs-button,
.eltdf-blog-video-holder .mejs-container .mejs-controls .mejs-button {
  height: 50px;
  width: 50px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls button,
.eltdf-blog-video-holder .mejs-container .mejs-controls button {
  background-color: transparent;
  background-image: none;
  border: 0;
  height: 50px;
  margin: 0;
  outline: none;
  position: relative;
  top: 0;
  width: 50px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls button:before,
.eltdf-blog-video-holder .mejs-container .mejs-controls button:before {
  color: #d9d9d9;
  display: block;
  font-family: 'ElegantIcons';
  font-size: 15px;
  height: 50px;
  left: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-play button:before, .eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-replay button:before,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-play button:before,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-replay button:before {
  content: "\45";
  font-size: 25px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-pause button:before,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-pause button:before {
  content: "\60";
  font-size: 25px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-stop button:before,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-stop button:before {
  content: "\5e";
  font-size: 25px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-mute button:before,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-mute button:before {
  content: "\78";
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-unmute button:before,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-unmute button:before {
  content: "\79";
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider {
  background: rgba(29, 29, 29, 0.7);
  height: 130px;
  width: 36px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider .mejs-volume-total,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider .mejs-volume-total {
  background: #ffffff;
  top: 15px;
  width: 6px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider .mejs-volume-current,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider .mejs-volume-current {
  background-color: #b7b7b7;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider .mejs-volume-handle,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-volume-button > a.mejs-volume-slider .mejs-volume-handle {
  display: none;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider,
.eltdf-blog-video-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider {
  height: 50px;
  margin-right: 20px;
  width: 50px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.eltdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.eltdf-blog-video-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.eltdf-blog-video-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 6px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.eltdf-blog-video-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: #ffffff;
  top: 22px;
  width: 50px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.eltdf-blog-video-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #b7b7b7;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time {
  color: #d9d9d9;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 100%;
  line-height: 50px;
  padding: 0 5px;
  width: 50px;
  letter-spacing: .05em;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time > *,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time > * {
  font-family: inherit;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail {
  font-family: inherit;
  height: 6px;
  margin: 0;
  padding: 0;
  top: 22px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total {
  background: rgba(255, 255, 255, 0.7);
  height: 6px;
  margin: 0;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total span,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total span {
  height: 6px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-buffering,
.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered,
.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-marker,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-buffering,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-marker {
  background: transparent;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-loaded,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-loaded {
  background: #ffffff;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-current,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-current {
  background: #b7b7b7;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  background: rgba(183, 183, 183, 0.7);
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float,
.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-corner,
.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-current,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-corner,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-current {
  background: none;
  border: 0;
  color: #d9d9d9;
  top: -20px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-handle,
.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-handle-content,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-handle,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-handle-content {
  border: none;
  height: 6px;
  left: 0;
  top: 0;
  width: 6px;
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-fullscreen-button button:before,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-fullscreen-button button:before {
  content: "\30";
}

.eltdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-fullscreen-button.mejs-unfullscreen button:before,
.eltdf-blog-video-holder .mejs-container .mejs-controls > .mejs-fullscreen-button.mejs-unfullscreen button:before {
  content: "\2f";
}

.eltdf-self-hosted-video-holder {
  overflow: hidden;
}

.eltdf-self-hosted-video-holder video {
  object-fit: cover;
}

/* ==========================================================================
   Blog pagination standard style - begin
   ========================================================================== */
.eltdf-blog-pagination-wp {
  display: none;
}

.eltdf-blog-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 40px 0 0;
  clear: both;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.eltdf-blog-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

.eltdf-blog-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.eltdf-blog-pagination ul li > a, .eltdf-blog-pagination ul li > span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 13px;
  padding: 0;
}

.eltdf-blog-pagination ul li > a:before, .eltdf-blog-pagination ul li > span:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -6px;
  right: 0;
  height: 1px;
  background-color: currentColor;
  width: calc(100% + 12px);
  transform: scale(0, 1);
  transform-origin: 100% 50%;
  transition: transform 0.4s cubic-bezier(0.28, 0.38, 0, 0.81);
}

.eltdf-blog-pagination ul li > a:hover:before, .eltdf-blog-pagination ul li > span:hover:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -6px;
  right: 0;
  height: 1px;
  background-color: currentColor;
  width: calc(100% + 12px);
  transform: scale(1, 1);
  transform-origin: 0 50%;
  transition: transform 0.4s cubic-bezier(0.28, 0.38, 0, 0.81);
}

.eltdf-blog-pagination ul li > a.current:after, .eltdf-blog-pagination ul li > span.current:after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: calc(100% + 12px);
  left: -6px;
  right: auto;
  bottom: 0;
  background: #000;
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.eltdf-blog-pagination ul li:first-child > a, .eltdf-blog-pagination ul li:first-child > span {
  margin-left: 0;
}

.eltdf-blog-pagination ul li:last-child > a, .eltdf-blog-pagination ul li:last-child > span {
  margin-right: 0;
}

.eltdf-blog-pagination ul li.eltdf-pag-active a {
  color: #000;
}

.eltdf-blog-pagination ul li.eltdf-pag-active a:after {
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.eltdf-blog-pagination ul li.eltdf-pag-prev, .eltdf-blog-pagination ul li.eltdf-pag-next, .eltdf-blog-pagination ul li.eltdf-pag-first, .eltdf-blog-pagination ul li.eltdf-pag-last {
  margin: 0 2px;
}

.eltdf-blog-pagination ul li.eltdf-pag-prev a, .eltdf-blog-pagination ul li.eltdf-pag-next a, .eltdf-blog-pagination ul li.eltdf-pag-first a, .eltdf-blog-pagination ul li.eltdf-pag-last a {
  font-size: 24px;
}

.eltdf-blog-pagination ul li.eltdf-pag-prev a span, .eltdf-blog-pagination ul li.eltdf-pag-next a span, .eltdf-blog-pagination ul li.eltdf-pag-first a span, .eltdf-blog-pagination ul li.eltdf-pag-last a span {
  display: block;
  line-height: inherit;
}

.eltdf-blog-pagination ul li.eltdf-pag-prev a span:before, .eltdf-blog-pagination ul li.eltdf-pag-next a span:before, .eltdf-blog-pagination ul li.eltdf-pag-first a span:before, .eltdf-blog-pagination ul li.eltdf-pag-last a span:before {
  display: block;
  line-height: inherit;
}

.eltdf-blog-pagination ul li.eltdf-pag-prev a:before, .eltdf-blog-pagination ul li.eltdf-pag-prev a:after, .eltdf-blog-pagination ul li.eltdf-pag-next a:before, .eltdf-blog-pagination ul li.eltdf-pag-next a:after, .eltdf-blog-pagination ul li.eltdf-pag-first a:before, .eltdf-blog-pagination ul li.eltdf-pag-first a:after, .eltdf-blog-pagination ul li.eltdf-pag-last a:before, .eltdf-blog-pagination ul li.eltdf-pag-last a:after {
  content: none;
  display: none;
}

/* ==========================================================================
   Blog pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode pagination standard style - begin
   ========================================================================== */
.eltdf-blog-list-holder.eltdf-bl-pag-standard-shortcodes .eltdf-blog-list {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.eltdf-blog-list-holder.eltdf-bl-pag-standard-shortcodes.eltdf-bl-pag-standard-shortcodes-animate .eltdf-blog-list {
  opacity: 0;
}

.eltdf-bl-standard-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 40px 0 0;
  clear: both;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.eltdf-bl-standard-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

.eltdf-bl-standard-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.eltdf-bl-standard-pagination ul li > a, .eltdf-bl-standard-pagination ul li > span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 13px;
  padding: 0;
}

.eltdf-bl-standard-pagination ul li > a:before, .eltdf-bl-standard-pagination ul li > span:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -6px;
  right: 0;
  height: 1px;
  background-color: currentColor;
  width: calc(100% + 12px);
  transform: scale(0, 1);
  transform-origin: 100% 50%;
  transition: transform 0.4s cubic-bezier(0.28, 0.38, 0, 0.81);
}

.eltdf-bl-standard-pagination ul li > a:hover:before, .eltdf-bl-standard-pagination ul li > span:hover:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -6px;
  right: 0;
  height: 1px;
  background-color: currentColor;
  width: calc(100% + 12px);
  transform: scale(1, 1);
  transform-origin: 0 50%;
  transition: transform 0.4s cubic-bezier(0.28, 0.38, 0, 0.81);
}

.eltdf-bl-standard-pagination ul li > a.current:after, .eltdf-bl-standard-pagination ul li > span.current:after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: calc(100% + 12px);
  left: -6px;
  right: auto;
  bottom: 0;
  background: #000;
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.eltdf-bl-standard-pagination ul li:first-child > a, .eltdf-bl-standard-pagination ul li:first-child > span {
  margin-left: 0;
}

.eltdf-bl-standard-pagination ul li:last-child > a, .eltdf-bl-standard-pagination ul li:last-child > span {
  margin-right: 0;
}

.eltdf-bl-standard-pagination ul li.eltdf-pag-active a {
  color: #000;
}

.eltdf-bl-standard-pagination ul li.eltdf-pag-active a:after {
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.eltdf-bl-standard-pagination ul li.eltdf-pag-prev, .eltdf-bl-standard-pagination ul li.eltdf-pag-next, .eltdf-bl-standard-pagination ul li.eltdf-pag-first, .eltdf-bl-standard-pagination ul li.eltdf-pag-last {
  margin: 0 2px;
}

.eltdf-bl-standard-pagination ul li.eltdf-pag-prev a, .eltdf-bl-standard-pagination ul li.eltdf-pag-next a, .eltdf-bl-standard-pagination ul li.eltdf-pag-first a, .eltdf-bl-standard-pagination ul li.eltdf-pag-last a {
  font-size: 24px;
}

.eltdf-bl-standard-pagination ul li.eltdf-pag-prev a span, .eltdf-bl-standard-pagination ul li.eltdf-pag-next a span, .eltdf-bl-standard-pagination ul li.eltdf-pag-first a span, .eltdf-bl-standard-pagination ul li.eltdf-pag-last a span {
  display: block;
  line-height: inherit;
}

.eltdf-bl-standard-pagination ul li.eltdf-pag-prev a span:before, .eltdf-bl-standard-pagination ul li.eltdf-pag-next a span:before, .eltdf-bl-standard-pagination ul li.eltdf-pag-first a span:before, .eltdf-bl-standard-pagination ul li.eltdf-pag-last a span:before {
  display: block;
  line-height: inherit;
}

.eltdf-bl-standard-pagination ul li.eltdf-pag-prev a:before, .eltdf-bl-standard-pagination ul li.eltdf-pag-prev a:after, .eltdf-bl-standard-pagination ul li.eltdf-pag-next a:before, .eltdf-bl-standard-pagination ul li.eltdf-pag-next a:after, .eltdf-bl-standard-pagination ul li.eltdf-pag-first a:before, .eltdf-bl-standard-pagination ul li.eltdf-pag-first a:after, .eltdf-bl-standard-pagination ul li.eltdf-pag-last a:before, .eltdf-bl-standard-pagination ul li.eltdf-pag-last a:after {
  content: none;
  display: none;
}

.eltdf-bl-standard-pagination ul li.eltdf-pag-prev a {
  opacity: 0;
}

.eltdf-bl-standard-pagination ul li.eltdf-pag-next a {
  opacity: 1;
}

/* ==========================================================================
   Blog List shortcode pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination load more style - begin
   ========================================================================== */
.eltdf-blog-pag-load-more {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 40px 0 30px;
  text-align: center;
}

/* ==========================================================================
   Blog pagination load more style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination loading element style - begin
   ========================================================================== */
.eltdf-blog-pag-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  color: #000;
  text-align: center;
}

.eltdf-blog-pag-loading.eltdf-standard-pag-trigger {
  position: absolute;
  top: 50px;
  left: 0;
}

.eltdf-blog-pag-loading.eltdf-showing {
  display: block;
}

.eltdf-blog-pag-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
}

.eltdf-blog-pag-loading .eltdf-blog-pag-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.eltdf-blog-pag-loading .eltdf-blog-pag-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog pagination loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Masonry style - begin
   ========================================================================== */
.eltdf-blog-holder.eltdf-blog-masonry article {
  margin: 0 0 20px;
  padding: 0 0 30px;
}

.eltdf-blog-holder.eltdf-blog-masonry article .eltdf-post-content {
  padding: 0 0 22px;
}

.eltdf-blog-holder.eltdf-blog-masonry article .eltdf-post-text-main > .eltdf-post-title {
  font-size: 18px;
  line-height: 24px;
}

.eltdf-blog-holder.eltdf-blog-masonry article.format-quote .eltdf-post-text {
  padding: 63px 31px;
  background-position: 110% -15px;
  margin-bottom: 40px;
}

.eltdf-blog-holder.eltdf-blog-masonry article.format-quote .eltdf-post-quote-holder a {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
}

.eltdf-blog-holder.eltdf-blog-masonry article.format-quote .eltdf-quote-author {
  margin-top: 8px;
}

.eltdf-blog-holder.eltdf-blog-masonry article.format-link .eltdf-post-text {
  padding: 79px 31px;
  background-position: 110% -15px;
  margin-bottom: 40px;
}

.eltdf-blog-holder.eltdf-blog-masonry article.format-link .eltdf-post-link-holder a {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 24px;
}

.eltdf-blog-holder.eltdf-blog-masonry article.eltdf-post-has-media .eltdf-post-heading {
  margin-bottom: 30px;
}

/* ==========================================================================
   Blog List - Masonry style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */
.eltdf-blog-holder.eltdf-blog-standard article {
  margin: 0 0 92px;
  padding: 0;
}

.eltdf-blog-holder.eltdf-blog-standard article.eltdf-post-has-media .eltdf-post-heading {
  margin-bottom: 33px;
}

/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */
/* Single author box styles - begin
	====================================================================== */
.eltdf-author-description {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 61px 0 115px;
  box-sizing: border-box;
}

.eltdf-author-description .eltdf-author-description-content {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.eltdf-author-description .eltdf-author-description-image {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 202px;
  height: 202px;
}

.eltdf-author-description .eltdf-author-description-image img {
  display: block;
  border-radius: 50%;
  width: 100%;
}

.eltdf-author-description .eltdf-author-description-text-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 0 0 0 38px;
}

.eltdf-author-description .eltdf-author-description-text-holder .eltdf-author-name {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.eltdf-author-description .eltdf-author-description-text-holder .eltdf-author-name a {
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.eltdf-author-description .eltdf-author-description-text-holder .eltdf-author-name a:hover {
  color: #000;
}

.eltdf-author-description .eltdf-author-description-text-holder .eltdf-author-email {
  margin: 0;
}

.eltdf-author-description .eltdf-author-description-text-holder .eltdf-author-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltdf-author-description .eltdf-author-description-text-holder .eltdf-author-text > p {
  margin: 22px 0 14px;
}

.eltdf-author-description .eltdf-author-description-text-holder .eltdf-author-social-icons {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltdf-author-description .eltdf-author-description-text-holder .eltdf-author-social-icons a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 7px 0 0;
  font-size: 12px;
  color: #000;
}

.eltdf-author-description .eltdf-author-description-text-holder .eltdf-author-social-icons a:last-child {
  margin: 0;
}

.eltdf-author-description .eltdf-author-description-text-holder .eltdf-author-social-icons a:hover {
  color: #000;
}

@media only screen and (max-width: 768px) {
  .eltdf-author-description .eltdf-author-description-content {
    padding: 0;
  }
  .eltdf-author-description .eltdf-author-description-image {
    display: table;
    width: 100%;
  }
  .eltdf-author-description .eltdf-author-description-text-holder {
    display: block;
    padding: 0;
    margin-top: 30px;
  }
}

/* Single author box styles - end
	====================================================================== */
/* Single posts navigation styles - begin
    ====================================================================== */
.eltdf-blog-single-navigation {
  position: relative;
  display: table;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  clear: both;
  box-sizing: border-box;
}

.eltdf-blog-single-navigation .eltdf-blog-single-navigation-inner {
  padding: 78px 0 30px;
}

.eltdf-blog-single-navigation .eltdf-blog-single-prev,
.eltdf-blog-single-navigation .eltdf-blog-single-next {
  color: #000;
}

.eltdf-blog-single-navigation .eltdf-blog-single-prev .eltdf-blog-single-nav-mark,
.eltdf-blog-single-navigation .eltdf-blog-single-next .eltdf-blog-single-nav-mark {
  font-size: 48px;
  line-height: inherit;
  color: inherit;
}

.eltdf-blog-single-navigation .eltdf-blog-single-prev .eltdf-blog-single-nav-mark:before,
.eltdf-blog-single-navigation .eltdf-blog-single-next .eltdf-blog-single-nav-mark:before {
  display: block;
  line-height: inherit;
}

.eltdf-blog-single-navigation .eltdf-blog-single-prev .eltdf-blog-single-nav-label,
.eltdf-blog-single-navigation .eltdf-blog-single-next .eltdf-blog-single-nav-label {
  color: inherit;
}

.eltdf-blog-single-navigation .eltdf-blog-single-prev:hover,
.eltdf-blog-single-navigation .eltdf-blog-single-next:hover {
  color: #000;
}

.eltdf-blog-single-navigation .eltdf-blog-single-prev {
  float: left;
}

.eltdf-blog-single-navigation .eltdf-blog-single-prev .eltdf-blog-single-nav-mark,
.eltdf-blog-single-navigation .eltdf-blog-single-prev .eltdf-blog-single-nav-label {
  float: left;
}

.eltdf-blog-single-navigation .eltdf-blog-single-prev .eltdf-blog-single-nav-mark {
  margin: 0 14px 0 0;
}

.eltdf-blog-single-navigation .eltdf-blog-single-next {
  float: right;
}

.eltdf-blog-single-navigation .eltdf-blog-single-next .eltdf-blog-single-nav-mark,
.eltdf-blog-single-navigation .eltdf-blog-single-next .eltdf-blog-single-nav-label {
  float: right;
}

.eltdf-blog-single-navigation .eltdf-blog-single-next .eltdf-blog-single-nav-mark {
  margin: 0 0 0 14px;
}

.eltdf-single-links-pages {
  clear: both;
  margin: 20px 0 5px;
}

.eltdf-single-links-pages .eltdf-single-links-pages-inner > a,
.eltdf-single-links-pages .eltdf-single-links-pages-inner > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 13px;
}

.eltdf-single-links-pages .eltdf-single-links-pages-inner > a:after,
.eltdf-single-links-pages .eltdf-single-links-pages-inner > span:after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: calc(100% + 12px);
  left: -6px;
  right: auto;
  bottom: 2px;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.eltdf-single-links-pages .eltdf-single-links-pages-inner > a:hover:after,
.eltdf-single-links-pages .eltdf-single-links-pages-inner > span:hover:after {
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.eltdf-single-links-pages .eltdf-single-links-pages-inner > span {
  color: #000;
}

.eltdf-single-links-pages .eltdf-single-links-pages-inner > span:after {
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.eltdf-single-links-pages .eltdf-single-links-pages-inner > a:hover {
  color: #000;
}

/* Single posts navigation styles - end
    ====================================================================== */
/* Related posts styles - begin
	====================================================================== */
.eltdf-related-posts-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  box-sizing: border-box;
}

.eltdf-related-posts-holder .eltdf-related-posts-holder-inner {
  padding: 0 0 84px;
}

.eltdf-related-posts-holder .eltdf-related-posts-title {
  margin: 50px 0 53px;
}

.eltdf-related-posts-holder .eltdf-related-posts-title > * {
  margin: 0;
}

.eltdf-related-posts-holder .eltdf-related-posts-inner {
  margin: 0 -15px;
}

.eltdf-related-posts-holder .eltdf-related-post {
  position: relative;
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0;
  padding: 0 15px;
  box-sizing: border-box;
}

.eltdf-content-has-sidebar .eltdf-related-posts-holder .eltdf-related-post {
  widtH: 33.33333333333333%;
}

.touch .eltdf-related-posts-holder .eltdf-related-post {
  cursor: pointer;
}

.eltdf-related-posts-holder .eltdf-related-post:hover .eltdf-related-post-image a:after {
  opacity: 1;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-related-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  margin: 0 0 30px;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-related-post-image a {
  position: relative;
  display: block;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-related-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-related-post-image img {
  display: block;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-bli-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 14px 0 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .16em;
  font-weight: 400;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-bli-info > div:after {
  content: '/';
  position: absolute;
  top: 0;
  right: 4px;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-bli-info > div:last-child {
  padding: 0;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-bli-info > div:last-child:after {
  content: '';
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-bli-info > div a {
  color: inherit;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-bli-info > div a:hover {
  color: #000;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-post-title {
  margin: 0;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-post-title:first-child {
  margin-top: 0;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 4px 0 0;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-post-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 0 13px 0 0;
  color: inherit;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-post-info > div:after {
  position: absolute;
  top: 0;
  right: 4px;
  content: '/';
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-post-info > div:last-child {
  padding: 0;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-post-info > div:last-child:after {
  display: none;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-post-info > div.eltdf-post-info-author .eltdf-post-info-author-text {
  margin: 0 3px 0 0;
}

.eltdf-related-posts-holder .eltdf-related-post .eltdf-post-info > div a {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* Related posts styles - end
	====================================================================== */
/* ==========================================================================
   Blog Single style - begin
   ========================================================================== */
.eltdf-blog-holder.eltdf-blog-single article {
  margin: 0 0 30px;
}

.eltdf-blog-holder.eltdf-blog-single article .eltdf-post-heading {
  margin-bottom: 28px;
}

.eltdf-blog-holder.eltdf-blog-single article .eltdf-post-quote-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
}

.eltdf-blog-holder.eltdf-blog-single article .eltdf-post-quote-holder h5 {
  margin: 0;
}

.eltdf-blog-holder.eltdf-blog-single article .eltdf-post-quote-holder a, .eltdf-blog-holder.eltdf-blog-single article .eltdf-post-quote-holder .eltdf-quote-title {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 30px;
}

/* ==========================================================================
   Blog Single style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode global style - begin
   ========================================================================== */
.eltdf-blog-list-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.eltdf-blog-list-holder .eltdf-blog-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.eltdf-blog-list-holder .eltdf-bl-item {
  padding: 0;
  margin: 0;
}

.eltdf-blog-list-holder .eltdf-bl-item .eltdf-bli-inner.quote {
  padding: 48px 50px !important;
  background-color: #faf0ed;
  background-image: url("../../../../../assets/img/quote.png");
  background-repeat: no-repeat;
  background-position: 95% -15px;
  margin-bottom: 35px;
}

.eltdf-blog-list-holder .eltdf-bl-item .eltdf-bli-inner.quote .eltdf-bli-info {
  display: none;
}

.eltdf-blog-list-holder .eltdf-bl-item .eltdf-bli-inner.link {
  padding: 48px 50px !important;
  background-color: #eff5f8;
  background-image: url("../../../../../assets/img/link.png");
  background-repeat: no-repeat;
  background-position: 95% -40px;
  margin-bottom: 35px;
}

.eltdf-blog-list-holder .eltdf-bl-item .eltdf-bli-inner.link .eltdf-bli-info {
  display: none;
}

.eltdf-blog-list-holder .eltdf-bl-item:hover .eltdf-post-image img {
  -webkit-transition: -webkit-transform translateX(8px);
  -moz-transition: -moz-transform translateX(8px);
  transition: transform translateX(8px);
}

.eltdf-blog-list-holder.eltdf-bl-masonry .eltdf-bli-inner {
  padding: 0 0 22px;
}

.eltdf-blog-list-holder .eltdf-post-heading {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 27px;
}

.eltdf-blog-list-holder .eltdf-post-heading > .eltdf-post-info-date {
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 999;
  -webkit-transform: rotate(90deg) translateZ(0);
  -moz-transform: rotate(90deg) translateZ(0);
  transform: rotate(90deg) translateZ(0);
  transform-origin: 0 0;
  background-color: #fff;
  line-height: 40px;
  padding: 0 15px;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
}

@media screen and (max-width: 680px) {
  .eltdf-blog-list-holder .eltdf-post-heading > .eltdf-post-info-date {
    left: 0;
    -webkit-transform: rotate(0) translateZ(0);
    -moz-transform: rotate(0) translateZ(0);
    transform: rotate(0) translateZ(0);
  }
}

.eltdf-blog-list-holder .eltdf-bli-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.eltdf-blog-list-holder .eltdf-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  will-change: transform;
  -webkit-filter: blur();
  filter: blur();
}

.eltdf-blog-list-holder .eltdf-post-image img {
  backface-visibility: hidden;
  transform-origin: top;
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  transform: scale(1.08);
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.33, 0.02, 0, 0.93);
  -moz-transition: -moz-transform 0.45s cubic-bezier(0.33, 0.02, 0, 0.93);
  transition: transform 0.45s cubic-bezier(0.33, 0.02, 0, 0.93);
}

.eltdf-blog-list-holder .eltdf-post-image:hover img {
  transform: scale(1.08) translate3d(-8px, 0, 0);
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.33, 0.02, 0, 0.93);
  -moz-transition: -moz-transform 0.75s cubic-bezier(0.33, 0.02, 0, 0.93);
  transition: transform 0.75s cubic-bezier(0.33, 0.02, 0, 0.93);
}

.eltdf-blog-list-holder .eltdf-post-image a {
  display: block;
}

.eltdf-blog-list-holder .eltdf-post-image img {
  display: block;
}

.eltdf-blog-list-holder .eltdf-bli-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 14px 0 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .16em;
  font-weight: 400;
}

.eltdf-blog-list-holder .eltdf-bli-info > div:after {
  content: '/';
  position: absolute;
  top: 0;
  right: 4px;
}

.eltdf-blog-list-holder .eltdf-bli-info > div:last-child {
  padding: 0;
}

.eltdf-blog-list-holder .eltdf-bli-info > div:last-child:after {
  content: '';
}

.eltdf-blog-list-holder .eltdf-bli-info > div a {
  color: inherit;
}

.eltdf-blog-list-holder .eltdf-bli-info > div a:hover {
  color: #000;
}

.eltdf-blog-list-holder .eltdf-post-title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  padding: 3px 0 13px;
}

.eltdf-blog-list-holder .eltdf-post-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
}

.eltdf-blog-list-holder .eltdf-post-excerpt p {
  margin: 0;
}

.eltdf-blog-list-holder .eltdf-post-excerpt:after {
  content: '...';
}

.eltdf-blog-list-holder .eltdf-post-info-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding-top: 12px;
  line-height: 28px;
}

.eltdf-blog-list-holder .eltdf-post-info-bottom .eltdf-post-info-bottom-left,
.eltdf-blog-list-holder .eltdf-post-info-bottom .eltdf-post-info-bottom-right {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

@media only screen and (min-width: 769px) {
  .eltdf-blog-list-holder .eltdf-post-info-bottom .eltdf-post-info-bottom-left,
  .eltdf-blog-list-holder .eltdf-post-info-bottom .eltdf-post-info-bottom-right {
    width: 50%;
  }
  .eltdf-blog-list-holder .eltdf-post-info-bottom .eltdf-post-info-bottom-left {
    float: left;
  }
  .eltdf-blog-list-holder .eltdf-post-info-bottom .eltdf-post-info-bottom-right {
    text-align: right;
    float: right;
  }
}

.eltdf-blog-list-holder .eltdf-post-info-bottom .eltdf-post-info-bottom-right > div {
  margin-left: 17px;
}

.eltdf-blog-list-holder .eltdf-post-info-bottom .eltdf-post-info-bottom-right > div:first-child {
  margin-left: 0;
}

/* ==========================================================================
   Blog List shortcode global style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Boxed type style - begin
   ========================================================================== */
.eltdf-blog-list-holder.eltdf-bl-boxed .quote .eltdf-bli-content, .eltdf-blog-list-holder.eltdf-bl-boxed .link .eltdf-bli-content {
  padding: 0;
  background-color: transparent;
}

.eltdf-blog-list-holder.eltdf-bl-boxed .eltdf-bli-content {
  padding: 40px 30px;
  background-color: #f6f6f6;
}

.eltdf-blog-list-holder.eltdf-bl-boxed .eltdf-post-image {
  margin: 0;
}

.eltdf-blog-list-holder.eltdf-bl-boxed .eltdf-post-heading {
  margin: 0;
  display: block;
}

/* ==========================================================================
   Blog List shortcode - Boxed type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Masonry type style - begin
   ========================================================================== */
.eltdf-blog-list-holder.eltdf-bl-masonry {
  transition: none !important;
  overflow: visible !important;
}

.eltdf-blog-list-holder.eltdf-bl-masonry .eltdf-bl-item {
  z-index: 100;
}

.eltdf-blog-list-holder.eltdf-bl-masonry .eltdf-bl-item .eltdf-bli-inner.quote, .eltdf-blog-list-holder.eltdf-bl-masonry .eltdf-bl-item .eltdf-bli-inner.link {
  padding: 95px 50px !important;
}

.eltdf-blog-list-holder.eltdf-bl-masonry .quote .eltdf-post-heading, .eltdf-blog-list-holder.eltdf-bl-masonry .link .eltdf-post-heading {
  margin: 0;
  display: block;
}

/* ==========================================================================
   Blog List shortcode - Masonry type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Minimal type style - begin
   ========================================================================== */
.eltdf-blog-list-holder.eltdf-bl-minimal .eltdf-post-info-date {
  display: block;
  margin: 0 0 12px;
  line-height: 1;
}

.eltdf-blog-list-holder.eltdf-bl-minimal .eltdf-post-info-date a {
  font-size: 13px;
  color: #000;
}

.eltdf-blog-list-holder.eltdf-bl-minimal .eltdf-post-info-date a:hover {
  color: #000;
}

/* ==========================================================================
   Blog List shortcode - Minimal type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Simple type style - begin
   ========================================================================== */
.eltdf-blog-list-holder.eltdf-bl-simple .eltdf-post-image {
  display: table-cell;
  vertical-align: top;
  width: 84px;
}

.eltdf-blog-list-holder.eltdf-bl-simple .eltdf-bli-content {
  display: table-cell;
  vertical-align: top;
  width: auto;
  padding-left: 25px;
}

.eltdf-blog-list-holder.eltdf-bl-simple .eltdf-bli-content .eltdf-post-info-date {
  display: block;
  margin: 7px 0 0;
  line-height: 1;
}

.eltdf-blog-list-holder.eltdf-bl-simple .eltdf-bli-content .eltdf-post-info-date a {
  font-size: 13px;
  color: #000;
}

.eltdf-blog-list-holder.eltdf-bl-simple .eltdf-bli-content .eltdf-post-info-date a:hover {
  color: #000;
}

/* ==========================================================================
   Blog List shortcode - Simple type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List loading element style - begin
   ========================================================================== */
.eltdf-bl-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  text-align: center;
}

.eltdf-bl-loading.eltdf-showing {
  display: block;
}

.eltdf-bl-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-bouncedelay 1.4s infinite ease-in-out both;
}

.eltdf-bl-loading .eltdf-bl-loading-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.eltdf-bl-loading .eltdf-bl-loading-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog List loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog Slider shortcode style - begin
   ========================================================================== */
.eltdf-blog-slider-holder {
  /***** Slider Type Style - begin *****/
  /***** Slider Type Style - end *****/
  /***** Carousel Type Style - begin *****/
  /***** Carousel Type Style - end *****/
  /***** Carousel Centered Type Style - begin *****/
  /***** Carousel Centered Type Style - end *****/
}

.eltdf-blog-slider-holder.eltdf-bs-slider .eltdf-blog-slider-item {
  text-align: center;
}

.touch .eltdf-blog-slider-holder.eltdf-bs-slider .eltdf-blog-slider-item {
  cursor: pointer;
}

.eltdf-blog-slider-holder.eltdf-bs-slider .eltdf-blog-slider-item:hover .eltdf-item-text-wrapper {
  opacity: 1;
}

.eltdf-blog-slider-holder.eltdf-bs-slider .eltdf-post-title {
  color: #fff;
}

.eltdf-blog-slider-holder.eltdf-bs-slider .eltdf-post-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.eltdf-blog-slider-holder.eltdf-bs-slider .eltdf-post-read-more-button a {
  color: #fff;
}

.eltdf-blog-slider-holder.eltdf-bs-slider .eltdf-post-read-more-button a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.eltdf-blog-slider-holder.eltdf-bs-carousel .eltdf-item-image a:hover:after {
  opacity: 1;
}

.eltdf-blog-slider-holder.eltdf-bs-carousel .eltdf-item-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.eltdf-blog-slider-holder.eltdf-bs-carousel .eltdf-post-title {
  margin: 29px 0 0;
}

.eltdf-blog-slider-holder.eltdf-bs-carousel .eltdf-post-read-more-button {
  margin: 15px 0 0;
}

.eltdf-blog-slider-holder.eltdf-bs-carousel-centered .active.center .eltdf-item-text-wrapper {
  opacity: 1;
}

.eltdf-blog-slider-holder.eltdf-bs-carousel-centered .eltdf-blog-slider-item {
  text-align: center;
}

.eltdf-blog-slider-holder.eltdf-bs-carousel-centered .eltdf-post-title {
  color: #fff;
}

.eltdf-blog-slider-holder.eltdf-bs-carousel-centered .eltdf-post-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.eltdf-blog-slider-holder.eltdf-bs-carousel-centered .eltdf-post-read-more-button a {
  color: #fff;
}

.eltdf-blog-slider-holder.eltdf-bs-carousel-centered .eltdf-post-read-more-button a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.eltdf-blog-slider-holder .eltdf-blog-slider-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style-type: none;
}

.eltdf-blog-slider-holder .eltdf-item-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltdf-blog-slider-holder .eltdf-item-text-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  -webkit-transition: opacity 0.45s ease-out;
  -moz-transition: opacity 0.45s ease-out;
  transition: opacity 0.45s ease-out;
}

.eltdf-blog-slider-holder .eltdf-item-text-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.eltdf-blog-slider-holder .eltdf-item-text-holder-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 0 5%;
}

.eltdf-blog-slider-holder .eltdf-item-info-section {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 2px;
}

.eltdf-blog-slider-holder .eltdf-item-info-section > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  margin-right: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

.eltdf-blog-slider-holder .eltdf-item-info-section > div a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.eltdf-blog-slider-holder .eltdf-item-info-section > div a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.eltdf-blog-slider-holder .eltdf-item-info-section > div:after {
  content: "/";
  position: absolute;
  top: 0;
  right: 2px;
}

.eltdf-blog-slider-holder .eltdf-item-info-section > div:last-child {
  padding-right: 0;
  margin-right: 0;
}

.eltdf-blog-slider-holder .eltdf-item-info-section > div:last-child:after {
  content: '';
}

.eltdf-blog-slider-holder .eltdf-post-title {
  margin: 0;
}

.eltdf-blog-slider-holder .eltdf-bli-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 12px 0 0;
}

.eltdf-blog-slider-holder .eltdf-bli-excerpt p {
  margin: 0;
}

.eltdf-blog-slider-holder .eltdf-post-read-more-button {
  margin: 5px 0 0;
}

/* ==========================================================================
   Blog Slider shortcode style - end
   ========================================================================== */
/* ==========================================================================
   Blog styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map.css.map */
