/*
Theme Name: Enso
Theme URI: http://themes.uxbarn.com/wp/enso/
Description: Enso is a simple, elegant, and content-focused theme you can use to showcase your portfolio. <a href="https://uxbarn.com">Our website</a> | <a href="https://twitter.com/uxbarn">Twitter</a> | <a href="https://dribbble.com/uxbarn">Dribbble</a>.
Author: UXBARN
Author URI: https://uxbarn.com
Version: 1.0.2
License: GPL, ThemeForest License
License URI: http://codex.wordpress.org/GPL, http://themeforest.net/licenses
Tags: one-column, custom-background, custom-colors, custom-menu, editor-style, featured-images, sticky-post, theme-options, threaded-comments, translation-ready
Text Domain: enso
*/


/* Table of Content
 ==================================================
 #Reset
 #Combined CSS
 #General Styles
 #Site Structures
 #Forms
 #Elements
 #Plugins and Widgets
 #Responsive
*/



/* #Reset
================================================== */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}



/* #General Styles
================================================== */
*:focus {
	outline: none;
}

html {
	-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
	background: #fff;
	color: #050505;
	font-family: 'Rubik', sans-serif;
	font-size: 15px; /* Base font size */
	font-weight: 300;
	line-height: 1.6;
	/* 
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}

a,
a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin-bottom: 0.8em;
}

h3, h4, h5, h6 {
	letter-spacing: 0.5px;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.375em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.125em;
	text-transform: uppercase;
}

h6 {
	font-size: 1em;
	text-transform: uppercase;
}

address {
	font-style: italic;
}

p,
address,
dl,
pre,
table {
	margin-bottom: 1.6em;
}

p:last-child {
	margin-bottom: 0;
}

ul, ol {
	margin: 0 0 1.6em 1.6em;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal;
}

.children {
	margin-top: 0.8em;
}

li {
	margin-bottom: 0.8em;
}

img {
	height: auto;
	max-width: 100%;
}

img.border {
	border: 1px solid #eee;
}

/* .post-content img[class*="wp-image-"] {
	margin: 0.8em 0 1.6em;
} */

b,
strong {
	color: #000;
	font-weight: 500;
}

i,
em {
	font-style: italic;
}

label {
	/*font-size: 0.875em;
	color: inherit;*/
}

form {
	margin-bottom: 0;
}

code, 
kbd,
tt,
pre {
	background: #f1f1f1;
	box-sizing: border-box;
	color: #000;
	display: inline-block;
	font-family: Courier, serif;
	font-size: 1em;
	padding: 0 6px;
}

pre {
	box-sizing: border-box;
	overflow: auto;
	padding: 12px;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	width: 100%;
}

sub {
	font-size: x-small;
	vertical-align: sub;
}

sup {
	font-size: x-small;
	vertical-align: super;
}

q,
var {
	font-style: italic;
}

table {
	border: 1px solid #e7e7e7;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

table th,
table td {
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 8px;
}

table th {
	font-size: 1em;
	font-weight: bold;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.6em 1.6em;
}

abbr,
acronym {
	text-transform: uppercase;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
}

blockquote {
	font-size: 1.2em;
	font-weight: 400;
	margin: 1em 0 2.4em;
}

blockquote::before {
	color: #ddd;
	content: '\f10d';
	font-family: 'FontAwesome';
	font-size: 2.4em;
	font-style: normal;
}

blockquote p:first-child {
	margin-top: -3.4em;
}

blockquote p {
	margin-bottom: 1em;
	margin-left: 4em;
}

blockquote cite {
	display: block;
	font-size: 0.8em;
	font-style: normal;
	font-weight: 600;
	letter-spacing: 1px;
	margin-top: 1em;
	text-transform: uppercase;
}

blockquote cite::before {
	content: '―';
	padding-right: 6px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.no-opacity {
	opacity: 0;
}

.content-margin-top {
	margin-top: 4.7%; /* 90/1900 */
}

.no-padding,
.no-padding .section-content {
	padding: 0 !important;
}

.no-top-padding {
	padding-top: 0 !important;
}

.grayscale {
	-webkit-filter: grayscale(100%) opacity(.4);
	filter: grayscale(100%) opacity(.4);
}

.blur {
	-webkit-filter: blur(3px) opacity(.4);
	filter: blur(3px) opacity(.4);
}

.blur-grayscale {
	-webkit-filter: blur(3px) grayscale(100%) opacity(.4);
	filter: blur(3px) grayscale(100%) opacity(.4);
}

.display-opacity {
	opacity: 1 !important;
}

.less-opacity {
	opacity: 0.4;
}

.no-border {
	border: 0 !important;
}

.full-screen-bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}



/*** WP Required CSS ***/
.alignleft {
	float: left;
	margin: 0 1.6em 0.8em 0;
}

.alignright {
	float: right;
	margin: 0 0 0.8em 1.6em;
}

.aligncenter {
	float: none;
	margin: auto;
	text-align: center;
}

img.aligncenter {
	display: block;
}

.bypostauthor {
	width: auto;
}

/* This class is used with WP 'figure' tags */
.wp-caption {
	margin-bottom: 1.6em;
	max-width: 100%;
}

.wp-caption-text,
.gallery-item .gallery-caption {
	font-size: 11px;
	margin-top: 0.2em;
	text-align: center;
}

.wp-caption-text {
	font-size: 13px;
	margin-top: 0.2em;
}

.says, /* .says class is used in the post comments */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar */
}

.sticky .post-title::before {
	/*color: #b74c4c;*/
	content: '\f2a6';
	font-family: 'Ionicons';
	margin-right: 0.8em;
}



/* #Site Structures
================================================== */
main {
	display: block;
}

.post-title a,
.post-content a,
.section-content a,
.numbers-pagination a,
.theme-widget-area a {
	border-bottom: 1px solid;
	font-weight: 500;
	padding-bottom: 1px;
	transition: opacity .2s;
}

.copyright-social-wrapper a:hover,
.post-navigation a:hover,
.post-title a:hover,
.post-content a:hover,
.section-content a:hover,
.numbers-pagination a:hover,
.theme-widget-area a:hover {
	opacity: 0.75;
}

#root-container {
	padding: 5.7% 0; /* 110/1920 */
}

#header-container {
	margin-bottom: 4.42%; /* 85/1920 */
	position: relative;
}

.content-width {
	margin: auto;
	width: 1280px;
}

.site-logo a,
.site-title {
	color: #000;
	display: block;
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin: 0;
}

.site-logo {
	box-sizing: border-box;
	display: inline-block;
	padding-right: 6.6%;
	text-align: right;
	width: 50%;
}

.site-logo a {
	display: inline-block;
}

.logo-image {
	margin-top: 6px;
	vertical-align: top;
}

.tagline {
	display: block;
	letter-spacing: 0.5px;
}

.tagline.has-logo-image {
	margin-top: 15px;
}



/*** Menu ***/
.site-menu {
	display: inline-block;
	margin-left: -3px;
	vertical-align: top;
}

.menu-style {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 2px;
	list-style: none;
	margin: 0;
	text-transform: uppercase;
}

@-moz-document url-prefix() { 
  .menu-style {
     font-weight: 500;
  }
}

.menu-style li {
	margin: 0;
	position: relative;
}

.menu-list > li > a {
	color: #050505;
	position: relative;
}

.menu-list > li > a::after {
	border-top: 1px solid #050505;
	content: '';
	display: block;
	opacity: .3;
	position: absolute;
	left: -12px;
	top: 48%;
	width: 0;
	transition: width .8s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.menu-list > .current_page_item a::after,
.menu-list > .current-menu-item a::after,
.menu-list > .current-menu-parent a::after,
.menu-list > .current-menu-ancestor a::after,
.menu-list > li:hover a::after {
	width: calc(100% + 22px);
	opacity: .7;
}

.menu-list > li:hover a::after {
	opacity: .3;
}

.menu-list > .current_page_item:hover a::after,
.menu-list > .current-menu-item:hover a::after,
.menu-list > .current-menu-parent:hover a::after,
.menu-list > .current-menu-ancestor:hover a::after {
	opacity: .7;
}

.horizontal-menu .site-logo,
.horizontal-menu .site-menu {
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}

.horizontal-menu .site-logo {
	margin-bottom: 3.1%;
}

.horizontal-menu .menu-style > li {
	display: inline;
	margin-right: 1.8em;
	padding-bottom: 12px;
}

.horizontal-menu .menu-style > li:last-child {
	margin-right: 0;
}

.sub-menu,
.children {
	background: #050505;
	box-sizing: border-box;
	display: none;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	list-style: none;
	margin: 0;
	padding: 40px 0;
	position: absolute;
	top: -38px;
	left: 100%;
	text-transform: none;
	width: 250px;
	z-index: 99;
}

.horizontal-menu .sub-menu,
.horizontal-menu .children {
	top: 38px;
	left: -40px;
	text-align: left;
}

.sub-menu li,
.children li {
	left: 0;
	display: block;
	margin: 0 0 0.8em;
	padding: 0 60px 0 40px;
	position: relative;
}

.menu-list .sub-menu a,
.menu-list .children a {
	display: inline !important;
	color: #fff;
	transition: all .2s;
}

.sub-menu > li:hover > a,
.menu-list .children > li:hover > a {
	opacity: 0.8;
}

.sub-menu .sub-menu,
.menu-list > li > .children .children {
	background: #383838;
	right: 0;
	left: 80%;
	top: -40px;
}



/*** Mobile Menu ***/
#mobile-menu {
	display: none;
	line-height: 0;
	margin-top: 40px;
	text-align: center;
}


/*** Mobile menu toggle ***/
#mobile-menu-toggle {
	color: #050505;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
}

#mobile-menu-toggle i {
	display: inline-block;
	font-size: 1.8em;
	margin-left: 8px;
	margin-top: -2px;
	vertical-align: middle;
}

/*** Mobile menu panel ***/
#mobile-menu-entity {
	background: #fff;
	color: #050505;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

#mobile-menu-entity li {
	font-size: 12px;
}



/*** Search Button and Panel ***/
#search-panel-wrapper .search-submit,
.search-icon-button,
.search-button {
	display: none;
	float: none;
}

.search-icon-button {
	background: #e8e8e8;
	color: #050505;
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	padding: 1em 1.2em;
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 1;
	transition: opacity .2s;
}

.search-icon-button.top {
	bottom: auto;
	top: 40px;
}

.search-icon-button:hover {
	opacity: 0.7;
}

.search-icon-button i,
.search-button i {
	vertical-align: middle;
}

#search-panel-wrapper {
	background: rgb(255,255,255);
	background: rgba(255,255,255,1);
	display: none;
	font-size: 8em; /* 128/16 (16 = body's font-size) */
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999;
}

#inner-search-panel {
	height: 100%;
	position: relative;
	width: 100%;
}

#search-close-button {
	color: #00101f;
	font-size: 1em;
	line-height: 0;
	margin: 0.8em 1.6em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}

#search-panel-wrapper .search-form {
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

#search-panel-wrapper .search-field {
	background: none;
	border: 0;
	font-size: 1em;
	font-weight: 300;
	margin-bottom: 180px;
	width: 60%;
}


/*** Content & Blog ***/
.post-content-container,
.content-section-wrapper {
	box-sizing: border-box;
	padding: 8.6%; /* 110/1280 */
}

.content-section-wrapper {
	padding-top: 0;
}

.single-uxbarn_portfolio .post-content-container,
.post-item {
	background: #fafafa;
	margin-bottom: 8.6%;
}

.post-meta a,
.post-title a {
	border: 0;
	font-weight: inherit;
	padding: 0;
}

.post-title-wrapper,
.section-title {
	float: left;
	margin-right: 5%;
	margin-top: -0.25em; /* 6/24 */
	width: 36%;
}

.section-title {
	font-size: 1.125em;
	margin-top: 0;
}

.post-content-wrapper,
.section-content {
	float: left;
	width: 59%;
}

.post-image {
	background: #f1f1f1;
}

.post-image img {
	display: block;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s;
	vertical-align: top;
}

.post-title {
	font-size: 1.6em;
	position: relative;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.post-title.has-intro,
.single-post .post-title.has-intro {
	margin-bottom: 2.8em;
}

.single-post .post-title {
	margin-bottom: 3.6em;
}

.post-title::after,
.single-post .post-intro::after {
	border-top: 1px solid #050505;
	content: '';
	position: absolute;
	left: 0;
	bottom: -1.2em;
	width: 4.58em; /* 110/24 */
}

.single-post .post-intro::after {
	bottom: -1.8em;
}

.post-intro {
	color: #989898;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	position: relative;
}

.single-post .post-intro {
	margin-bottom: 4.8em;
}

.post-content {
	
}

.excerpt {
	margin-bottom: 2.4em;
}

.post-meta {
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 1em;
	list-style: none;
	margin: 0;
	overflow: hidden;
	text-transform: uppercase;
}

.post-meta a {
	font-weight: 400 !important;
}

.single-post .post-meta {
	margin-bottom: 10.2%; /* 40/390 */
}

.post-meta li {
	float: left;
	margin: 0;
}

.single-post .post-meta li {
	float: none;
	margin-bottom: 1.6em;
}

.post-meta li::after {
	content: '\2014';
	margin: 0 8px;
}

.single-post .post-meta li::after {
	content: '';
	margin: 0;
}

.post-meta li:last-child::after {
	content: '';
}

.meta-categories-title,
.meta-tags-title {
	font-weight: 600;
}


.author-social {
	font-size: 16px;
	list-style: none;
	margin: 0;
	overflow: hidden;
}

.author-social li {
	float: left;
	margin-bottom: 0;
	margin-right: 12px;
}

.author-social li:last-child {
	margin-right: 0;
}

.author-social a {
	border: 0;
	padding-bottom: 0;
}


/*** Comments ***/
.comment-reply-title {
	font-size: 1.25em;
	margin-top: -4px;
}

.comment-list {
	font-size: 1em;
	list-style: none;
	margin-left: 0;
	margin-bottom: 10.1%; /* 60/590 */
}

.comment-list li {
	margin-bottom: 0;
}

.comment-list .children {
	list-style: none;
}

.comment-body {
	box-sizing: border-box;
	padding: 24px 0;
}

.comment-list > li:first-child > .comment-body {
	border-top: 0;
	padding-top: 0;
}

.comment-author-avatar {
	float: left;
	margin-right: 5.7%;
	width: 19.2%;
}

.comment-content-wrapper {
	float: left;
	width: 75%;
}

.comment-content-wrapper .comment-meta a {
	border: 0;
	font-weight: 300;
	padding-bottom: 0;
}

.comment-content-wrapper .comment-author,
.comment-content-wrapper .comment-author a {
	font-weight: 500;
	margin-bottom: 3px;
}

.comment-date {
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.comment-content {
	margin: 1em 0;
}

.comment-awaiting-moderation {
	font-style: italic;
}

.comment-edit-link {
	float: right;
	font-style: normal;
	line-height: 1;
}

.comment-content:last-child p {
	margin-bottom: 0;
}

.reply a {
	border: 1px solid #ddd !important;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 6px 10px;
}

#comments.no-comments .comment-respond {
	margin-top: 0;
}

p.no-comments {
	font-style: italic;
	margin-bottom: 0;
	margin-top: 3%;
}

.comment-respond {
	box-sizing: border-box;
	border-top: 1px solid #eaeaea;
	margin-top: 0;
	padding: 2em 0;
}

.no-comments .comment-respond {
	border: 0;
	padding: 0;
}

.comment-form label {
	display: block;
}

.comment-form textarea {
	width: 100%;
}

.form-submit {
	margin-bottom: 0;
}

#cancel-comment-reply-link {
	color: #050505;
	float: right;
	font-size: 11px;
	letter-spacing: 1px;
	margin-top: 5px;
}

.comment-navigation {
	box-sizing: border-box;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	overflow: hidden;
	padding: 1.625em 0;
}

.comment-navigation a {
	border: 1px solid #ddd;
	font-size: 0.9em;
	font-weight: 400;
	padding: 0.8em 1.2em;
}

.comment-navigation .nav-previous,
.comment-navigation .nav-next {
	display: inline-block;
}

.comment-navigation .nav-next {
	float: right;
}

.comment-navigation .nav-previous a::before,
.comment-navigation .nav-next a::after {
	font-family: 'Ionicons';
	vertical-align: middle;
}

.comment-navigation .nav-previous a::before {
	content: '\f3d5';
	margin-right: 6px;
}

.comment-navigation .nav-next a::after {
	content: '\f3d6';
	margin-left: 6px;
}

.comment-list .pingback {
	font-style: italic;
}


/*** Post Navigation ***/
.post-navigation {
	font-family: 'Poppins', sans-serif;
	margin-top: -1.9%;
	margin-bottom: 6.6%;
	overflow: hidden;
	text-align: center;
}

.post-navigation a {
	display: block;
	transition: opacity .2s;
}


.post-navigation .nav-previous,
.post-navigation .nav-next {
	display: inline-block;
	width: 250px;
	vertical-align: top;
}

.post-navigation .nav-previous {
	border-right: 1px solid #e1e1e1;
	margin-right: 0;
	padding-right: 30px;
	text-align: right;
}

.post-navigation .nav-next {
	border-left: 1px solid #e1e1e1;
	padding-left: 30px;
	margin-left: -1px;
	margin-right: 0;
	text-align: left;
}

.post-navigation .nav-subtitle {
	display: block;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.post-navigation .nav-previous .nav-subtitle {
	text-align: right;
}

.post-navigation .nav-next .nav-subtitle {
	text-align: left;
}

.post-navigation .nav-title {
	letter-spacing: 1px;
}

.post-navigation .nav-title-icon-wrapper {
	font-size: 30px;
	line-height: 1;
	margin-right: 15px;
	vertical-align: middle;
}

.post-navigation .nav-next .nav-title-icon-wrapper {
	margin-left: 15px;
}




/*** Pagination ***/
.numbers-pagination {
	font-size: 1.2em;
	margin-top: -1.9%; /* 25/1280 */
	margin-bottom: 6.6%; /* 85/1280 */
	text-align: center;
}

.tax-uxbarn_portfolio_tax .numbers-pagination {
	
}

.numbers-pagination a {
	border: 0;
}

.numbers-pagination .current {
	color: #050505;
	font-weight: 300;
}

.nav-links > * {
	margin-right: 16px;
}

/*** Post Pagination ***/
.page-links {
	font-weight: 500;
}

.page-links > span {
	margin: 0 8px;
}

.page-links > span:first-child {
	margin: 0;
}

.page-links a {
	margin: 0 6px;
}


/*** 404, Search ***/
.archive-list .top-section,
.search-result-list .top-section,
.no-results-section {
	text-align: center;
}

.top-section .post-title {
	margin-bottom: 0.8em;
}

.search-result-list .post-item {
	margin-bottom: 0;
}

.search-result-list .post-content-container {
	padding-bottom: 0;
}

.search-result-list .top-section,
.search-result-list .post-item:last-of-type .post-content-container {
	padding-bottom: 8.6%;
}

.search-result-list .top-section,
.search-result-list .post-item:last-of-type {
	margin-bottom: 8.6%;
}

.no-results-section .post-title::after {
	left: 50%;
	margin-left: -55px;
}

.archive-list .top-section .post-title::after,
.search-result-list .top-section .post-title::after {
	display: none;
}

.no-results-section .post-title {
	margin-bottom: 2.8em;
}

.search-result-list .search-field,
.no-results-section .search-field {
	display: block;
	margin: 0 auto 1.6em;
	width: 50%;
}



/*** Portfolio ***/
.portfolio-listing {
	/*min-height: 600px;*/
	margin-bottom: 6.6%; /* 85/1280 */
	overflow: hidden;
}

.portfolio-loading {
	margin: 110px auto;
	width: 110px;
}

.loading-text {
	display: block;
	font-size: 9px;
	font-weight: 500;
	letter-spacing: 3px;
	margin-bottom: 1em;
	text-align: center;
	text-transform: uppercase;
}

.loading-bar {
	background: #f1f1f1;
	padding-bottom: 3px;
}

.progress-bar {
	background: #050505;
	padding-bottom: 2px;
	width: 0;
}

.all-works.top-section {
	margin-bottom: 70px;
	padding: 4.3%;
}

.portfolio-item {
	margin: 0 35px 70px;
	opacity: 0;
	position: relative;
	transition: all 300ms cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad*/
	visibility: hidden;
}

.portfolio-thumbnail {
	height: 100%;
	overflow: hidden;
}

.portfolio-thumbnail img {
	display: inline-block;
	vertical-align: top;
	transition: all 200ms cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad*/
}

.full-width .portfolio-item {
	margin-left: 0;
	margin-right: 0;
}

.justified-images {
	margin: 0 -35px;
	overflow: hidden;
}

.justified-images .portfolio-item {
	float: left;
	border: 0;
	box-sizing: content-box;
	/*overflow: hidden;*/
	position: relative;
}

.justified-images .portfolio-item img {
	display: block;
	height: 100%;
	width: auto;
	vertical-align: top;
}

.portfolio-title {
	font-size: 14px;
	letter-spacing: 1.5px;
	opacity: .2;
	margin-top: .8em;
	position: absolute;
	right: 0;
	text-align: right;
	text-transform: uppercase;
	transition: opacity .2s;
}

.portfolio-item:hover .portfolio-title {
	opacity: 1;
}

.additional-link-button-wrapper {
	margin-bottom: 8.6%;
	margin-top: -1.1%;
	text-align: center;
}

.additional-link-button-wrapper .button {
	background: none;
	border: 1px solid #050505;
	color: #050505;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 2em 6.5em;
	text-transform: uppercase;
	transition: opacity .2s;
}

.additional-link-button-wrapper .button:hover {
	opacity: 0.8;
}

.portfolio-categories,
.active-portfolio-category-title {
	font-size: 18px;
	letter-spacing: .5px;
	list-style: none;
	margin: 0;
	text-align: center;
}

.active-portfolio-category-title {
	color: inherit;
	display: inline-block;
	font-family: inherit;
	font-weight: inherit;
}

.portfolio-categories li {
	display: inline-block;
	margin: 0;
}

.portfolio-categories li::after {
	content: '\2014';
	margin: 0 9px;
}

.portfolio-categories li:last-child::after {
	content: '';
}

.portfolio-categories a {
	border: 0;
	padding: 0;
}


/*** Portfolio Single ***/
.single-uxbarn_portfolio .post-item {
	background: none;
}

.single-uxbarn_portfolio .post-content-container {
	margin-bottom: 6.6%;
}

.single-uxbarn_portfolio .portfolio-comments {
	margin-top: 6.6%;
}

.port-format-content {
	text-align: center;
}

.image-slideshow .port-format-content {
	height: 600px;
	/*overflow: hidden;*/
}

.image-wrapper,
.video-wrapper {
	display: block;
	margin-bottom: 11.7%; /* 150/1280 */
	position: relative;
}

.image-wrapper {
	opacity: 0;
	visibility: hidden;
}

.image-wrapper:last-of-type {
	margin-bottom: 0;
}

.image-wrapper.portrait {
	/*margin-left: 32%;*/
}

.image-wrapper img {
	margin: auto;
	vertical-align: top;
}

.image-wrapper a {
	border: 0;
	padding: 0;
}

.inner-image-wrapper {
	display: inline-block;
	position: relative;
}

.image-caption {
	margin-top: 1em;
	position: absolute;
	text-align: right;
	width: 100%;
}

.image-caption,
.fancybox-title {
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
}



/*** Copyright & Social Icons ***/
.copyright-social-wrapper {
	box-sizing: border-box;
	overflow: hidden;
	margin-top: 25px;
	padding: 0 3.6%;
}

.copyright-social-wrapper a {
	transition: opacity .2s;
}

.inner-copyright-social-wrapper {
	
}

.copyright {
	float: left;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.5px;
}

.copyright a,
.copyright a:hover {
	font-weight: 600;
}

.social-icon-wrapper {
	float: right;
	margin-top: -3px;
	text-align: right;
}

.social-icons {
	font-size: 16px;
	list-style: none;
	margin: 0;
	overflow: hidden;
}

.social-icons a {
	border: 0;
	padding: 0;
}

.social-icons li {
	margin-left: 15px;
	display: inline;
}

.social-icons li:first-child {
	margin-left: 0;
}



/* #Forms
================================================== */
input,
textarea,
button,
select,
.button {
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	padding: 0.7em;
	max-width: 100%;
	transition: border-color .2s;
}

input:focus,
textarea:focus {
	border-color: #050505;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="url"],
textarea,
select {
	border: 1px solid #ccc;
}

/* Ignore default styles when viewing on Safari */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="url"],
textarea,
select,
input[type="button"],
input[type="submit"],
.button {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-weight: 400;
}

select {
	/* Add an arrow for the drop down that works across browsers (especially for Safari when resetting the default style above) */
	background: #fff url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
	
	min-width: 100px;
}

input[type="button"],
input[type="submit"],
button,
a.button {
	background: #050505;
	border: 0;
	color: #fff;
	cursor: pointer;
	letter-spacing: 0.5px;
	padding: 0.77em 2em;
	transition: background .2s;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover,
a.button:hover {
	
}

.theme-widget-area input[type="button"],
.theme-widget-area input[type="submit"],
.theme-widget-area button,
.theme-widget-area a.button {
	border: 1px solid #fff;
}

.dummy-sub-form input,
.widget_search input[type="search"] {
	margin-bottom: 1.625em;
}

.search-field {
	width: 60%;
}

.widget-item .search-field {
	display: block;
	width: 90%;
}

.search-results .search-form {
	margin-top: 12px;
}



/* #Elements
================================================== */
.fancybox-opened .fancybox-skin {
	box-shadow: none;
}

.fancybox-title {
	
}

.fancybox-title-outside-wrap {
	color: #050505;
	margin-top: 12px;
	text-align: right;
}

#fancybox-buttons ul {
	background: rgb(5,5,5);
	background: rgba(5,5,5,0.8);
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

#fancybox-buttons a.btnNext,
#fancybox-buttons a.btnToggle,
#fancybox-buttons a.btnClose {
	
}

#fancybox-thumbs ul li {
	opacity: 0.3;
	transition: opacity .2s;
}

#fancybox-thumbs ul li a {
	border: 0;
}

#fancybox-thumbs ul li.active {
	border-color: transparent;
	opacity: 1;
}

.fancybox-close, 
.fancybox-prev span, 
.fancybox-next span {
	background: none;
}

.fancybox-next,
.fancybox-prev {
	display: block;
	opacity: 0;
	transition: opacity .2s;
}

/* Note: Using "right" or "margin-right" directly causes mousewheel feature stops working somehow */
.fancybox-next {
	right: -85px;
}

.fancybox-prev {
	left: -85px;
}

.fancybox-next:hover,
.fancybox-prev:hover {
	opacity: 1;
}

.fancybox-nav span {
	height: auto;
	width: auto;
}

.fancybox-next span {
	right: 0;
}

.fancybox-prev span {
	left: 0;
}

.fancybox-next span::after,
.fancybox-prev span::after {
	font-family: 'Ionicons';
	font-size: 40px;
}

.fancybox-next span::after {
	content: '\f3d6';
}

.fancybox-prev span::after {
	content: '\f3d5';
}


#fancybox-buttons a {
	background: none;
	color: #fff;
	font-size: 18px;
	text-indent: 0;
	text-align: center;
}

#fancybox-buttons a {
	transition: opacity .2s;
}

#fancybox-buttons a::after {
	display: inline-block;
	font-family: 'Ionicons';
	margin-left: 0;
	margin-top: 1px;
}

#fancybox-buttons a.btnClose::after {
	content: '\f2d7';
	margin-left: 4px;
	margin-top: 1px;
}

#fancybox-buttons a.btnToggle::after {
	content: '\f386';
}

#fancybox-buttons a.btnNext::after {
	content: '\f125';
	font-size: 13px;
}

#fancybox-buttons a.btnPrev::after {
	content: '\f124';
	font-size: 13px;
}

#fancybox-buttons a.btnPlay::after {
	content: '\f488';
}

#fancybox-buttons a.btnPlayOn::after {
	content: '\f478';
}



/*** WP Gallery ***/
.gallery {
	margin-bottom: 1.625em;
}

.gallery-item {
	display: inline-block;
	margin-bottom: 1.6em;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-item a {
	border: 0;
}

.gallery-icon {
	line-height: 0;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}



/* #Plugins and Widgets
================================================== */
/*** Footer ***/
.theme-widget-area-border {
	border: 1px solid #e1e1e1;;
	box-sizing: border-box;
	margin: auto;
	padding: 12px;
	width: 1304px;
}

.theme-widget-area {
	background: #050505;
	box-sizing: border-box;
	color: #ccc;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.5px;
	margin: auto;
	padding: 6.5% 5.4%; /* 85/1304, 70/1280 */
}

.theme-widget-area a {
	border: 0;
	color: #fff;
	padding: 0;
}
	
.widget-column {
	float: left;
	margin-bottom: 0;
	margin-right: 3.8%;
}

.widget-column:last-child {
	margin-right: 0;
}

.widget-item li:last-child,
.widget-item table:last-child {
	margin-bottom: 0;
}

/* 1 column */
.widget-item {
	padding-bottom: 8%;
	max-width: 100%;
}

.widget-item:last-child {
	padding-bottom: 0 !important;
}

/* 2 columns */
.w6.widget-column {
	width: 47.8%; 
}

.w6 .widget-item {
	padding-bottom: 15%;
}

/* 3 columns */
.w4.widget-column {
	width: 30.4%;
}

.w4 .widget-item {
	padding-bottom: 24%;
}

/* 4 columns */
.w3.widget-column {
	width: 21.7%; 
}

.w3 .widget-item {
	padding-bottom: 36%;
}

.widget-title {
	color: #fff;
	font-size: 1.16em;
	letter-spacing: 2px;
	margin-bottom: 2.4em;
	position: relative;
	text-transform: uppercase;
}

.widget-title::after {
	border-top: 1px solid #fff;
	content: '';
	opacity: 0.3;
	position: absolute;
	left: 0;
	bottom: -0.8em;
	width: 50px;
}

.widget-title > a {
	border: 0;
	padding: 0;
}

/*** WP Widgets ***/
.widget_archive {
}

.widget_categories > ul,
.widget_archive > ul,
.widget_recent_entries > ul,
.widget_pages > ul,
.widget_meta > ul,
.widget_recent_comments > ul,
.widget_rss > ul,
.widget_nav_menu .menu {
	list-style: none;
	margin: 0;
}

.widget_recent_entries .post-date {
	display: block;
	font-size: 9px;
	letter-spacing: 2px;
	margin-top: 6px;
	text-transform: uppercase;
}

.w3 .widget_search .search-field {
	width: 100%;
}

#wp-calendar th,
#wp-calendar td {
	padding: 0;
	text-align: center;
}



/*** Contact Form 7 ***/
.wpcf7 .wpcf7-text,
.wpcf7 .wpcf7-textarea {
	display: block;
}

.wpcf7 .wpcf7-textarea {
	width: 100%;
}

.wpcf7-form-control-wrap {
	display: block;
}

#content-container .wpcf7-not-valid {
	border-color: red;
}

span.wpcf7-not-valid-tip,
div.wpcf7-response-output {
	border: 0;
	font-size: 9px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}

span.wpcf7-not-valid-tip {
	color: red;
	margin-top: 6px;
	width: 100%;
}

div.wpcf7-response-output {
	font-size: 10px;
	margin: 0;
	padding: 0;
}

div.wpcf7-validation-errors {
	color: red;
}

div.wpcf7-mail-sent-ok {
	color: green;
}

/*** mmenu ***/
a.mm-close.mm-btn {
	color: inherit;
	left: auto !important;
	right: 0;
}

.mm-close:after,
.mm-close:before {
	border: 0;
	content: '';
	transform: none;
}

.mm-close::after {
	border: 0;
	content: '\f404';
	font-family: 'Ionicons';
	font-size: 24px;
	margin-top: 11px;
}



/* #Responsive
================================================== */

@media only screen and (max-width: 1400px) {
	
	.content-width {
		width: 1100px;
	}
	
	.theme-widget-area-border {
		width: 1124px;
	}
	
	.portfolio-item {
		margin-left: 25px;
		margin-right: 25px;
	}
	
	.justified-images {
		margin: 0px -25px;
	}
	
}

@media only screen and (max-width: 1200px) {

	.content-width {
		width: 900px;
	}
	
	.theme-widget-area-border {
		width: 924px;
	}
	
	.portfolio-item {
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.justified-images {
		margin: 0px -20px;
	}
	
}

@media only screen and (max-width: 1000px) {
	
	.content-width {
		margin-left: 2.5%;
		margin-right: 2.5%;
		width: auto;
	}
	
	.theme-widget-area-border {
		border: 0;
		padding: 0 2.5%;
		width: auto;
	}
	
	.all-works.top-section {
		margin-bottom: 50px;
	}

	.portfolio-item {
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 50px;
	}
	
	.justified-images {
		margin: 0px -15px;
	}
	
	.portfolio-title {
		font-size: 12px !important;
	}
	
	.site-logo,
	.site-menu {
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}
	
	.logo-image {
		margin: 0;
	}

	.menu-list {
		display: none;
	}

	#mobile-menu {
		display: block;
	}
	
	.additional-link-button-wrapper .button {
		font-size: 14px !important;
	}
	
}

@media only screen and (max-width: 782px) {
	
	/* Fix the position of the admin bar when using with mmenu */
	#wpadminbar {
		top: 0;
	}
	
	html.mm-opened {
		margin-top: 0 !important;
	}
	
	html.mm-opened #wpadminbar {
		top: 0;
	}
	
}

@media only screen and (max-width: 768px) {
	
	.post-image {
		max-height: 400px;
	}
	
	.post-title-wrapper,
	.section-title {
		float: none;
		margin-bottom: 6.6%;
		width: auto;
	}

	.post-content-wrapper, .section-content {
		float: none;
		width: auto;
	}
	
	.post-title,
	.single-post .post-title {
		margin-bottom: 2.6em;
	}
	
	.single-post .post-intro {
		margin-bottom: 0;
	}
	
	.single-post .post-intro::after {
		display: none;
	}
	
	.portfolio-categories {
		font-size: 16px !important;
	}
	
	.portfolio-title {
		font-size: 10px !important;
		font-weight: 400;
		letter-spacing: 1px;
		opacity: 1;
	}
	
	
	.theme-widget-area .widget-column {
		float: none;
		width: 100%;
	}
	
	.theme-widget-area .widget-item {
		padding-bottom: 12% !important;
	}
	
	.widget-column:last-child .widget-item:last-child {
		padding-bottom: 0 !important;
	}
	

	/*** Common ***/
	#search-panel-wrapper {
		font-size: 5em;
	}
	
	#search-panel-wrapper .search-form {
		top: 40%;
	}
	
	.post-meta-wrapper {
		display: none;
		float: none;
		margin: 0;
		margin-top: 30px;
		width: auto;
	}
	
	.single-post .post-meta-wrapper {
		margin-top: 50px;
	}
	
	.post-meta {
		margin: 0;
		overflow: hidden;
		text-align: left;
	}
	
	.post-meta li {
		margin: inherit;
	}
	
	.single-post .post-meta {
		margin: 0;
	}
	
	.single-post .post-meta li {
		float: left;
	}

	.single-post .post-meta li::after {
		content: '\2014';
		padding: 0 8px 0;
	}

	.single-post .post-meta li:last-child::after {
		display: none;
		padding-right: 0;
	}
	
	.post-meta,
	.meta-categories,
	.meta-tags {
		margin-bottom: 1.6em !important;
	}
	
	.single-post .meta-categories li::after,
	.single-post .meta-tags li::after {
		content: ',';
		padding: 0;
		margin-right: 6px;
	}
	
	.single-post .meta-categories .meta-categories-title, 
	.single-post .meta-tags .meta-tags-title {
		display: block;
		float: none;
	}
	
	.single-post .meta-categories .meta-categories-title::after,
	.single-post .meta-tags .meta-tags-title::after {
		content: '';
		margin-right: 0;
	}
		
		
	.grayscale,
	.blur,
	.blur-grayscale {
		-webkit-filter: none;
		filter: none;
	}
	
	.search-field {
		width: 80% !important;
	}
	
	.search-icon-button {
		bottom: 15px;
		right: 15px;
	}
	
	.search-icon-button.top {
		bottom: auto;
		top: 15px;
	}
	
	.fancybox-next {
		right: 0;
	}
	
	.fancybox-prev {
		left: 0;
	}
	
	.fancybox-nav span {
		opacity: 0;
	}
	
}

@media only screen and (max-width: 600px) {
	
	/* Fix the position of the admin bar when using with mmenu */
	#wpadminbar {
		top: -46px;
	}
	
	.portfolio-categories {
		font-size: 14px !important;
	}
	
	.justified-images .portfolio-item {
		float: none;
		height: auto !important;
		width: auto !important;
		text-align: center;
	}

	.justified-images .portfolio-item img {
		height: auto;
		width: auto;
	}

	.portfolio-title {
		text-align: center;
		width: 100%;
	}

	.portfolio-thumbnail {
		display: inline-block;
	}
	
	.copyright,
	.social-icon-wrapper {
		float: none;
		text-align: center;
	}

	.copyright {
		margin-bottom: 15px;
	}
	
	.image-caption,
	.fancybox-title {
		font-size: 10px !important;
		margin-top: 0.4em;
		text-align: center;
	}

}

@media only screen and (max-width: 480px) {
	
	.post-image {
		max-height: 300px;
	}
	
	.additional-link-button-wrapper .button {
		padding: 1.6em 3.5em;
	}
	
	.post-title,
	.single-post .post-title {
		font-size: 1.4em !important;
	}
	
	/*** Common ***/
	#search-panel-wrapper {
		font-size: 3em;
	}
	
	blockquote {
		margin-left: 0;
	}
	
	blockquote::before {
		display: none;
	}
	
	blockquote p {
		margin-left: 0;
	}
	
	blockquote p:first-child {
		margin-top: 0;
	}
	
	.comment-author-avatar {
		display: none;
	}

	.comment-content-wrapper {
		width: 100%;
	}
	
}